---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Artwork ‹ Projects | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="/style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
            <link rel="icon" href="../favicon/favicon.svg">
            <link rel="mask-icon" href="../favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
            <link rel="apple-touch-icon" href="../favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
            <link rel="manifest" href="../favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->    
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->
    <div class="content">
        {% include notice.html %}

        <div id="hero-image" class="alignmiddle section-normal isrounded">
            <div class="center min50vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center no-overflow" style="position: relative">
                <div class="no-overflow isrounded" style="position: absolute">
                    <div class="alignvmiddle center">
                        <div class="rellax center">
                            <img class="isrounded parallaximage" src="https://images.unsplash.com/photo-1644007497105-8d0ae9ec9754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2384&q=80">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="spacer"></div>

        <section id="description" class="description gs_reveal gs_reveal_nomove section-normal fullpadding">
            <div class="description-left">
                <div class="description-left-sub alignmiddle">
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">client</p>
                            <p class="text-left font-large">maia health</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">design</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                    </div>
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">development</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">technology</p>
                            <p class="text-left font-large">HTML5 / CSS / Vanilla JS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description-right font-large center text-left">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </section>

        <section id="image-section" class="fullpaddingsection content">

            <div class="alignmiddle section-normal pancakeparent isrounded">
                <div class="pancakechild wraphovertransform center min25vh"> <!--alternate color babyblue -->
                    <br>
                    <h3 class="gs_reveal">What</h3>
                    <br>
                    <div class="fullpaddingsection text-left">Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset <a href="#" class="highlightlink">concludaturque</a> et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</div>
                    <a href="./index.html"><button class="button-light hovertransform">read more</button></a>
                    <br>
                </div>
                <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="pancakechild center min25vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center gs_reveal gs_reveal_fromRight">
                    <div class="center min50vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center no-overflow" style="position: relative">
                        <div class="no-overflow isrounded" style="position: relative">
                            <div class="alignvmiddle center">
                                <div class="rellax center">
                                    <img data-speed="auto" class="isrounded parallaximage" src="https://images.unsplash.com/photo-1644007497105-8d0ae9ec9754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2384&q=80">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer"></div>

            <div class="alignmiddle section-normal pancakeparent isrounded">
                <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="pancakechild center min25vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center gs_reveal gs_reveal_fromLeft">
                    <div class="no-overflow alignvmiddle isrounded">
                        <div class="center parallaxcontainer rellax" data-rellax-speed="-2" data-rellax-percentage="0.5"> <!-- rellax -->
                            <img class="isrounded parallaximage" src="https://images.unsplash.com/photo-1646061550931-74b78e83863c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80">
                        </div>
                    </div>
                </div>
                <div class="pancakechild center min25vh"> <!--alternate color babyblue -->
                    <br>
                    <h3 class="gs_reveal">What</h3>
                    <br>
                    <div class="fullpaddingsection text-left">Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset <a href="#" class="highlightlink">concludaturque</a> et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</div>
                    <button class="button-light">read more</button>
                    <br>
                </div>
            </div>

            <div class="spacer"></div>

        </section>

        <div class="spacer"></div>
        
        <section id="upnext" class="upnext gs_reveal section-wide fullpadding">
            <div id="upnext-previous" class="upnext-element align-left isrounded-right no-overflow hasbackground-light isinteractive">
                <div class="upnext-image min25vh gradient-graphite">
                    <div class="upnext-label backdrop-blur align-right invertfontcolor">
                        <div class="bubble alignmiddle"><div class="center-text smallcapslabel">more recently</div></div>
                        <div class="title marginfull-lr">This is the title of the previous article</div>
                        <div class="arrow">←</div>
                    </div>
                    <div class="align-left">
                        <img src="https://images.unsplash.com/photo-1644007497105-8d0ae9ec9754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format">
                    </div>
                </div>
            </div>
            <div id="upnext-next" class="upnext-element align-right isrounded-left no-overflow hasbackground-light isinteractive">
                <div class="upnext-image min25vh gradient-graphite">
                    <div class="upnext-label backdrop-blur align-left invertfontcolor">
                        <div class="bubble alignmiddle"><div class="center-text smallcapslabel">Up Next</div></div>
                        <div class="title marginfull-lr">This is the title of the next article</div>
                        <div class="arrow">→</div>
                    </div>
                    <div class="align-right">
                        <img src="https://images.unsplash.com/photo-1644007497105-8d0ae9ec9754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2384&q=80">
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include footer.html %}
    {% include script.html %}
</body>
</html>
