---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Video | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="../img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="../img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="../style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
            <link rel="icon" href="../favicon/favicon.svg">
            <link rel="mask-icon" href="../favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
            <link rel="apple-touch-icon" href="../favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
            <link rel="manifest" href="../favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->    
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->
    <div class="content">
        {% include notice.html %}

        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <div id="heading-middle" class="gs_reveal section-normal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel ">Screen Time</div>
            </div>
            <h1 class="section-heading">Video Content</h1>

            <div class="headhing-subtext longform-container">
                <p>Sometimes an image is not enough and you have to convey a message in a narrative.</p>
            </div>
            <div class="spacer"></div>
        </div>

        <section id="video" class="section-normal fullpadding">
            <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="isrounded">
                <div class="cardshadow gs_reveal cardshadow-left cardshadow-right">
                    <video class="isrounded hasbackground-light" width="100%" height="auto" loop autoplay muted > <!-- loop controls preload="auto" poster="img/dog1.jpg"-->
                        <source src="https://media.istockphoto.com/videos/abstract-background-loopable-video-id1288523103" type="video/mp4">
                        Your browser does not support modern video playback.
                    </video>
                </div>
            </div>
        </section>
    </div>
    
    {% include footer.html %}
    {% include script.html %}
</body>
</html>
