---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Not Found | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
        <link rel="icon" href="favicon/favicon.svg">
        <link rel="mask-icon" href="favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
        <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
        <link rel="manifest" href="favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->

    <div class="content"> 
        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <section id="hero" class="section-wide cardshadow cardshadow-left cardshadow-right">
            <div class="heroframe isrounded hasbackground-light">
                <div class="hero-content gs_reveal">
                    <span class="hero-left">
                        <div class="hero-left-center">
                                <br>
                                <div class="hero-pretext">Whoops</div>
                                <h1 class="hero-text-small">404 – Not Found</h1>
                                <p class="gs_reveal gs_reveal_nomove">
                                    The content you requested could not be found.<br>
                                    Try using the navigation above to find what you're looking for.<br>
                                    
                                    all roads lead to home
                                </p>
                                <br>
                        </div>
                    </span>
                </div>
            </div>
        </section>
        <div class="spacer"></div>
        <section class="longform-container">
            <p class="gs_reveal gs_reveal_nomove">
                <span class="hero-link-option">The content you requested could not be found.</span><br>
                <a class="isinteractive" ref="javascript:history.back()">← Go back</a>
                <span class="hero-link-option"> or </span>
                <a class="isinteractive" href="index.html">Go home →</a><br>
                
            </p>
            <div class="spacer"></div>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br>

    </div>
    
    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="script/script.js"></script>
    <script src="script/vanilla-tilt.js"></script>
</body>
</html>