---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
        <link rel="icon" href="favicon/favicon.svg">
        <link rel="mask-icon" href="favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
        <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
        <link rel="manifest" href="favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->
            <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body data-barba="wrapper">
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->

    <div class="content" data-barba="container">
        {% include notice.html %}

        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <section id="hero" class="section-wide cardshadow cardshadow-left cardshadow-right">
            <div class="heroframe isrounded hasbackground-light">
                <div class="hero-content gs_reveal">
                    <span class="hero-left">
                        <div class="hero-left-center">
                                <div class="hero-pretext">About Us</div>
                                <h1 class="hero-text-small">small team<br>big ambitions<br>good intentions</h1>
                                <span class="hero-link"><a class="isinteractive">About our Values</a><a class="hero-link-option"> or </a><a class="isinteractive hovertransform">Join us</a></span>
                        </div>
                    </span>
                    <span class="hero-scroll alignmiddle scrolldowndark">
                        <a href="#tabs" class="scrolldown"></a>
                    </span>
                    <span class="hero-right center">
                        <div>Image</div>
                    </span>
                </div>
            </div>
        </section>
    
        <div class="spacer"></div>
    
        <section id="description" class="description gs_reveal gs_reveal_nomove section-normal fullpadding">
            <div class="description-left">
                <div class="description-left-sub alignmiddle">
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">client</p>
                            <p class="text-left font-large">maia health</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">design</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                    </div>
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">development</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">technology</p>
                            <p class="text-left font-large">HTML5 / CSS / Vanilla JS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description-right font-large center text-left">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        </section>
        
        <div id="heading-middle" class="section-normal gs_reveal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel">meet the team</div>
            </div>
            <h1 class="section-heading">Something</h1>
            <div class="content section-normal marginfull-lr text-left">
                some text
            </div>
            <div class="spacer"></div>
        </div>

        <section class="longform-container text-left">
            <p class="gs_reveal gs_reveal_nomove">
                 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <div class="spacer"></div>
        </section>

        <section id="cardshadowtest" class="section-normal fullpaddingsection">
            <div>
                <div class="isrounded cardshadow cardshadow-left cardshadow-right hasbackground-light min25vh">
                    <div id="content" class="fullpadding">
                        <p>
                        <ul>
                            <li>Coffee</li>
                            <li>Tea
                            <ul>
                                <li>Black tea</li>
                                <li>Green tea</li>
                            </ul>
                            </li>
                            <li>Milk</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="longform-container text-left">

            <div class="hrshadow"><hr></div>

            <p class="gs_reveal gs_reveal_nomove">
                 Lorem "ipsum" dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo <a href="http://google.com"> blabla </a> ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
            <div class="spacer"></div>
        </section>

        <section id="video" class="section-normal wraphovertransform fullpaddingsection">
            <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="isrounded">
                <div class="cardshadow hovertransform cardshadow-left cardshadow-right">
                    <video class="isrounded" width="100%" height="auto" controls loop muted > <!-- loop autoplay preload="auto" poster="img/dog1.jpg"-->
                        <source src="https://media.istockphoto.com/videos/abstract-background-loopable-video-id1288523103" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}
    {% include script.html %}
</body>
</html>