---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% include meta.html %}

        <meta name="author" content="Simon Kelch">
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>

        <meta property="og:title" content="Simon Kelch">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="/img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="/img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  

        <link rel="stylesheet" href="/style/style.css">
        
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
    <body data-barba="wrapper">
        <ul class="transition">
            <li></li>
        </ul>
        <!-- This source code is minified. But I publish annotated code on github under CC BY-NC-SA 4.0 (non commercial only, share with attribution, only under the same licence) -->
        {% include nav.html %}
        
        <main data-barba="container" data-barba-namespace="home">
            <div class="content">
                {% include notice.html %}

                <section id="hero" class="hero gradient-turquoise">
                    <div class="section-wide fullpadding">
                        <section class="heroframe isrounded">
                            <div class="hero-content gs_reveal min80vh">
                                <span class="hero-left">
                                    <div class="hero-left-center invertfontcolor">
                                            <div class="hero-pretext">Hello my name is</div>
                                            <div class="h1 hero-text invertfontcolor">Simon</div>
                                            <span class="hero-link"><a class="isinteractive textdecoration-none" href="projects">View Projects</a><a class="hero-link-option"> or </a><a class="isinteractive hovertransform textdecoration-none" href="about/me">Read About Me</a></span>
                                            <div class="hero-subtext">
                                                <p>I study clinical psychology by day and design software by night.<br></p>
                                                <p>Recently I co-founded maia health, a mental health collective.<br></p>
                                                <p>This site was built for sharing content with my clients,<br>
                                                colleagues, friends and others on the internet.</p></div>
                                    </div>
                                </span>
                                <span class="hero-scroll alignmiddle">
                                    <a href="#tabs" class="scrolldown"></a>
                                </span>
                                <span class="hero-right center">
                                    <div> <!-- Image--></div>
                                </span>
                            </div>

                        <!-- <br>

                            <br><br>
                            <svg class="icon-medium" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="var(--cta-color)" stroke-width="0"><path fill-rule="evenodd" d="M15.938 31.875c8.718 0 15.937-7.219 15.937-15.938C31.875 7.235 24.641 0 15.922 0 7.219 0 0 7.234 0 15.938c0 8.718 7.234 15.937 15.938 15.937zm9.906-7.047c-1.578-1.875-5.203-3.562-9.907-3.562s-8.312 1.672-9.906 3.547c-2.093-2.344-3.36-5.454-3.36-8.875 0-7.36 5.876-13.282 13.25-13.282S29.204 8.578 29.22 15.937a13.134 13.134 0 01-3.375 8.891zm-9.907-6.219c3 .032 5.36-2.53 5.36-5.89 0-3.156-2.36-5.781-5.36-5.781s-5.374 2.625-5.359 5.78c.016 3.36 2.36 5.86 5.36 5.891z"></path></svg>
                            <h2>I'm Simon</h2>
                            <a href="http://twitter.com/sjkelch" title="Twitter"><svg class="icon-small icon-dark" viewBox="0 0 512 512"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg></a>
                            <a href="http://linkedin.com/in/simonkelch/" title="LinkedIn"><svg class="icon-small icon-dark" viewBox="0 0 512 512"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/></svg></a>
                            <a href="#" title="GitHub"><svg class="icon-small icon-dark" viewBox="0 0 512 512"><path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/></svg></a>
                            <br>
                            <p>a technology enthusiast<br>specialized in clinical- & neuropsychology<br><br>this is a display of my after-work-projects<br>in art, webdesign and <a href="#" class="highlightlink">open education</a></p>
                            <br>
                            <button class="button-cta" onclick="location.href='/resume'" type="button">See my digital resume</button>
                            <br><br>
                            <button class="button-light marginbottom" onclick="location.href='http://paypal.me/SimonKelch/2'" type="button">buy me a ☕️</button>
                            <br><br>
                        -->
                        </section>
                    </div>
                    <div id="content-intro">
                        <div class="isrounded-top hasbackground smallpadding"></div>
                    </div>
                </section>

                <div id="heading-middle" class="section-wide gs_reveal center">
                    <div class="spacer"></div>
                    <div class="bubble hasbackground-light allcaps">
                        <div class="center-text smallcapslabel">Pinned</div> <!--Featured-->
                    </div>
                    <h1 class="section-heading">Announcements</h1> <!-- Selected Work -->
                    <div class="content section-wide text-center marginfull-lr">
                        <span class="">See what's happening.</span>
                    </div>
                    <div class="spacer"></div>
                </div>

                <section id="projectpreview" class=" fullpaddingsection content">
                    <div class="section-wide pancakeparent isrounded">
                        <div class="pancakechild wraphovertransform center isrounded hasbackground-light min25vh">
                            <div class="fullpadding gs_reveal center">
                                <h3>"If you are not embarrassed by the first version of your product you’ve launched too late."</h3>
                                <br>Reid Hoffman
                            </div>
                        </div>
                        <div class="pancakechild center hasbackground gradient-graphite min25vh">
                            <div class="no-overflow alignvmiddle isrounded">
                                <div class="rellax center">
                                    <img class="isrounded parallaximage" src="/img/dog4.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="pancakechild wraphovertransform hasbackground-light isrounded center min25vh"> <!--alternate color babyblue -->
                            <div class="gs_reveal fullpadding">
                                <svg class="icon-medium" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="var(--cta-color)" stroke-width="0"><path fill-rule="evenodd" d="M15.938 31.875c8.718 0 15.937-7.219 15.937-15.938C31.875 7.235 24.641 0 15.922 0 7.219 0 0 7.234 0 15.938c0 8.718 7.234 15.937 15.938 15.937zm9.906-7.047c-1.578-1.875-5.203-3.562-9.907-3.562s-8.312 1.672-9.906 3.547c-2.093-2.344-3.36-5.454-3.36-8.875 0-7.36 5.876-13.282 13.25-13.282S29.204 8.578 29.22 15.937a13.134 13.134 0 01-3.375 8.891zm-9.907-6.219c3 .032 5.36-2.53 5.36-5.89 0-3.156-2.36-5.781-5.36-5.781s-5.374 2.625-5.359 5.78c.016 3.36 2.36 5.86 5.36 5.891z"></path></svg>
                                <h3 class="">Let's work together</h3>
                                Always open for opportunity<br>See my digital CV: <br><br>
                                <a href="https://www.linkedin.com/in/simonkelch/"><button class="button-cta">visit LinkedIn</button></a><br>
                                <a href="https://www.xing.com/profile/Simon_Kelch2/cv"><button class="button-light">visit XING</button></a>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="section-wide">

                <div id="heading-middle" class="section-wide gs_reveal center">
                    <div class="spacer"></div>
                    <div class="bubble hasbackground-light allcaps">
                        <div class="center-text smallcapslabel">Services</div>
                    </div>
                    <h1 class="section-heading">What I do</h1>
                    <div class="content section-wide text-center marginfull-lr">
                        I work in the following domains.
                    </div>
                </div>
                
                <section id="tabs" class="tab-container wraphovertransform content section-wide fullpadding">
                    <div class="worko-tabs">
                        <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" checked />
                        <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" />
                        <input class="state" type="radio" title="tab-three" name="tabs-state" id="tab-three" />
                        <!-- <input class="state" type="radio" title="tab-four" name="tabs-state" id="tab-four" /> -->

                        <div class="tabs flex-tabs">
                            <label for="tab-one" id="tab-one-label" class="tab tab-container hovertransform">
                                <h3 class="tabheading">Counselling in Data Science</h3>
                                <span class="tabinfo">Statistical methods are broad and confusing. Save time, save sweat and tears.</span>
                            </label>
                            <label for="tab-two" id="tab-two-label" class="tab hovertransform">
                                <h3 class="tabheading">Consulting and Supervision</h3>
                                <span class="tabinfo">I offer custom workshops for teams in clinical and business environments.</span>
                            </label>
                            <label for="tab-three" id="tab-three-label" class="tab hovertransform">
                                <h3 class="tabheading">Psychological Coaching (soon)</h3>
                                <span class="tabinfo">Leveraging my background I'll help structure, express and attain your needs, goals and behavior.</span>
                            </label>
                            <!-- <label for="tab-four" id="tab-four-label" class="tab">Tab Four</label>
            -->            
                            <div id="tab-one-panel" data-tilt data-tilt-max="0.8" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="panel isrounded gradient-deepblue invertfontcolor">
                                <div class="tabnumber">01</div>
                                <div class="center fullpadding">
                                    <span>I offer free, self-serve & on-demand resources</span>
                                    <span>see <a href="//psychnotes.de/data">psychnotes.de/data</a></span><br>
                                    <span>Highly ambitious or too much workload?<br>
                                        Book a live virtual or face-to-face session<br>
                                        and benefit from my collective expertise.</span>
                                        <br>
                                    <a class="" href="./article"><button class="tabbuttonright button-transparent-light">read more</button></a>   
                                </div>
                                <a href="./coaching"><button class="button-transparent-light tabbuttonright">read more</button></a>
                            </div>
                            <div id="tab-two-panel" data-tilt data-tilt-max="0.8" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="panel isrounded gradient-purple invertfontcolor">
                                <div class="tabnumber">02</div>
                                <div class="center fullpadding">
                                    In highly effective and team-oriented environments interrupting an established system breaks routines of everybody involved.<br>
                                    People have to be prepared, gradually and individually guided along the way.<br>
                                    If you want your team to be able to focus on the transition, you'll need someone unbiased to address these factors, serve the team in the name of the project and manage the heat.
                                </div>
                                <a href="./article"><button class="button-transparent-light tabbuttonright">read more</button></a>
                            </div>
                            <div id="tab-three-panel" data-tilt data-tilt-max="0.8" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="panel isrounded gradient-jadegreen invertfontcolor">
                                <div class="tabnumber">03</div>
                                <div class="center fullpadding">
                                    <div>Even the best of us <a href="./article/test">tend to trick themselves</a>.<br><br>Bring in a second opinion and have someone impartial<br></div>
                                    <ul class="text-left">
                                        <li>assess, review and advise on your goals</li>
                                        <li>discuss and challenge your expectations</li>
                                        <li>find clarify and be guided to grounded expectations</li>
                                        <!-- <li>optimize your strategy to tackle obstacles</li>
                                        <li>assist in forming your personal vision</li>
                                        <li>Establish routines to reflect and build on insights to make smarter and more informed descisions about your personal life</li> Psychologische Nachsorge -->
                                    </ul>
                                </div>
                            </div>
                            <!-- <div id="tab-four-panel" class="panel">
                                Tab four content
                            </div> -->
                        </div>
                    </div>
                </section>

                <hr class="section-wide">

                <div id="heading Newsroom" class="section-wide gs_reveal center">
                    <div class="spacer"></div>
                    <div class="bubble hasbackground-light allcaps">
                        <div class="center-text smallcapslabel">Stories</div>
                    </div>
                    <h1 class="section-heading">Newsroom</h1>
                    <div class="content section-wide text-center marginfull-lr">
                        Keep track of the latest publications and announcements. <!--articles, whitepapers and webinars-->
                    </div>
                    <div class="spacer"></div>
                </div>

                <section id="Newsroom" class="section-wide fullpaddingsection invertfontcolor text-left scrollcontainer">
                    <div id="hscrollsnap" class="scrollsection hscrollsnap">
                        <div class="hsn-card wraphovertransform margin-small-topbottom isrounded center">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog1.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="badge center backdrop-blur"><div class="center-text smallcapslabel">
                                    New
                                </div></div>
                                <div class="newsdate">
                                    22.02.2022
                                </div>
                                <div class="newstitle cursorpointer">
                                    <a class="" href="projects/launch">Lights On –<br>Gestaltung und Entwicklung eines zeitgemäßen Online Portfolios.</a>
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#Frontend</a><br>
                                    <a href="">#Webdesign</a><br>
                                    <a href="">#inEigenerSache</a>
                                </div>
                            </div>
                        </div>
                        <div class="hsn-card center wraphovertransform margin-small-topbottom">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog2.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="badge center backdrop-blur"><div class="center-text smallcapslabel">
                                    New
                                </div></div>
                                <div class="newsdate">
                                    03.01.2022
                                </div>
                                <div class="newstitle cursorpointer">
                                    Psychnotes.de –<br>Quelloffene Bildungsressourcen rund um Psychologie
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#non-profit</a><br>
                                    <a href="">#open education</a>
                                </div>  
                            </div>
                        </div>
                        <div class="hsn-card center wraphovertransform margin-small-topbottom">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog3.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="newsdate">
                                    16.12.2021
                                </div>
                                <div class="newstitle cursorpointer">
                                    Sieben Sachen –<br>die man vor einer Therapie wissen sollte
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#Whitepaper</a>
                                </div>  
                            </div>
                        </div>
                        <div class="hsn-card center wraphovertransform margin-small-topbottom">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog4.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="newsdate">
                                    8.11.2021
                                </div>
                                <div class="newstitle cursorpointer">
                                    Periodensystem der Störungen –<br>Übersicht und Schnellzugriff auf ICD-11 Diagnosen
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#Poster</a><br>
                                    <a href="">#ICD-11 2022</a>
                                </div>  
                            </div>
                        </div>
                        <div class="hsn-card wraphovertransform margin-small-topbottom isrounded center">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog1.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="newsdate">
                                    22.02.2022
                                </div>
                                <div class="newstitle cursorpointer">
                                    <a class="" href="./article">Coin for iOs –<br>a free tool for everyone to shape behavior</a>
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#appdesign</a><br>
                                    <a href="">#swift</a>
                                </div>
                            </div>
                        </div>
                        <div class="hsn-card wraphovertransform margin-small-topbottom isrounded center">
                            <div class="newscard isrounded hovertransform" style="background-image: url('img/dog1.jpg'), linear-gradient(320deg, #343934 0%, #252724 100%)">
                                <div class="newsdate">
                                    22.02.2022
                                </div>
                                <div class="newstitle cursorpointer">
                                    <a class="" href="./article">ptiw.de –<br>Portal für Psychotherapeut/innen in Weiterbildung</a>
                                </div>
                                <div href="" class="newstags">
                                    <a href="">#Frontend</a><br>
                                    <a href="">#Webdesign</a><br>
                                    <a href="">#inEigenerSache</a>
                                </div>
                            </div>
                        </div>
                        <div id="hsn-more" class="hsn-card center wraphovertransform margin-small-topbottom" alt="more">
                            <div class="lastnewscard newscard center cursorpointer isrounded hovertransform gradient-graphite">
                                <div class="badge backdrop-blur"><div class="badge-icon badge-text-correction smallcapslabel">
                                    ↗
                                </div></div>
                                <br>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="section-wide">

                <div id="gallery-heading" class="section-wide gs_reveal center">
                    <div class="spacer"></div>
                    <div class="bubble hasbackground-light allcaps">
                        <div class="center-text smallcapslabel">Gallery</div>
                    </div>
                    <h1 class="section-heading">Dogs for days</h1>
                    <div class="content section-wide text-center marginfull-lr">
                        I'll just leave you with some calming impressions
                    </div>
                    <div class="spacer"></div>
                </div>

                <section id="gallery" class="section-wide fullpaddingsection scrollcontainer">
                    <div id="hscrollsnap" class="scrollsection hscrollsnap">
                        <div class="hsn-card center isrounded">
                            <a href="#gallerylightbox1"><img data-tilt data-tilt-reverse="true" data-tilt-max="5" data-tilt-perspective="9000" class="isrounded cursor-zoom-in" src="img/dog1.jpg"></a>
                            <a href="#gallery-heading" class="lightbox backdrop-blur" id="gallerylightbox1"> <!-- lightbox container hidden with CSS -->
                            <span style="background-image: url('img/dog1.jpg')" class="cursor-zoom-out" ></span></a>
                            </a>
                        </div>
                        <div class="hsn-card center isrounded">
                            <a href="#gallerylightbox2"><img data-tilt data-tilt-reverse="true" data-tilt-max="5" data-tilt-perspective="9000" class="isrounded cursor-zoom-in" src="img/dog2.jpg"></a>
                            <a href="#gallery-heading" class="lightbox backdrop-blur" id="gallerylightbox2">
                            <span style="background-image: url('img/dog2.jpg')" class="cursor-zoom-out"></span></a>
                            </a>
                        </div>
                        <div class="hsn-card center isrounded">
                            <a href="#gallerylightbox3"><img data-tilt data-tilt-reverse="true" data-tilt-scale=".995" data-tilt-max="5" data-tilt-perspective="9000" class="isrounded cursor-zoom-in" src="img/dog3.jpg"></a>
                            <a href="#gallery-heading" class="lightbox backdrop-blur" id="gallerylightbox3">
                                <span style="background-image: url('img/dog3.jpg')" class="cursor-zoom-out"></span></a>
                        </div>
                        <div class="hsn-card center isrounded">
                            <a href="#gallerylightbox4"><img data-tilt data-tilt-reverse="true" data-tilt-scale=".995" data-tilt-max="5" data-tilt-perspective="9000" class="isrounded cursor-zoom-in" src="img/dog4.jpg"></a>
                            <a href="#gallery-heading" class="lightbox backdrop-blur" id="gallerylightbox4">
                                <span style="background-image: url('img/dog4.jpg')" class="cursor-zoom-out"></span></a>
                        </div>
                        <div class="hsn-card center isrounded">
                            <a href="#gallerylightbox5"><img data-tilt data-tilt-reverse="true" data-tilt-scale=".995" data-tilt-max="5" data-tilt-perspective="9000" class="isrounded cursor-zoom-in" src="img/dog1.jpg"></a>
                            <a href="#gallery-heading" class="lightbox backdrop-blur" id="gallerylightbox5">
                                <span style="background-image: url('img/dog1.jpg')" class="cursor-zoom-out"></span></a>
                        </div>
                    </div>
                </section>

                <section id="FAQ" class="section-wide fullpadding">
                    <div class="isrounded gs_reveal hasbackground-light fullpadding wraphovertransform">
                        <div class="flexcontainer-row">
                            <div class="flex margin-topbottom alignvmiddle">
                                <div class="spacer"></div>
                                <div class="bubble alignmiddle hasbackground-light allcaps">
                                    <div class="center-text smallcapslabel">FAQ & more</div>
                                </div>
                                <h1 class="section-heading">Questions & Answers</h1>
                            </div>
                            <div class="flex center margin-topbottom fullpadding">
                                <div class="accordeon">
                                    <details > <!-- für standard auf: <details open>  -->
                                        <summary class="isrounded hovertransform">
                                            Why this site?
                                        </summary>
                                        <div class="accordeon text-left">
                                            Sure, it's a little overkill for now, maybe I'll grow into it.<br>
                                            I most certainly enjoy the process of building it, as I'm really into webdesign / UX and wanted to bring one of my creations to life.<br>
                                            After all what is the use to design if it only sits in a drawer.
                                        </div>
                                    </details>
                                    <details>
                                        <summary class="isrounded hovertransform">
                                            Can I support your cause/projects?
                                        </summary>
                                        <div class="accordeon text-left">
                                            Sure. But check out these charities first.<br>
                                            <a rel="DRK" href="https://www.drk.de/spenden/">DRK</a> / <a rel="Unicef" href="https://www.unicef.de/spenden">Unicef</a> / <a rel="Krisenchat" href="https://krisenchat.de/spenden">Krisenchat</a><br>
                                            I'm always happy about feedback. If you want to donate, you can do so.
                                        </div>
                                    </details>
                                    <details>
                                        <summary class="isrounded hovertransform">
                                            Can I clone this site?
                                        </summary>
                                        <div class="accordeon text-left">
                                            Sure, but only non-commercial. I publish for fair use on github.<br>
                                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"></a>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="fullpadding">
                            <a href="./article"><button class="button-cta">further questions?</button></a>
                        </div>
                    </div>
                </section>

            </div>
        </main>

        {% include footer.html %}
        {% include script.html %}
    </body>
</html>

