---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Links & Socials | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
            <link rel="icon" href="favicon/favicon.svg">
            <link rel="mask-icon" href="favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
            <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
            <link rel="manifest" href="favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->    
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->

    <div class="content">
        <div id="banner" class="noticebanner font-dark blur">
            <div id="notice" class="notice-content section-normal font-nav center">
                <p>This website is currently in development.</p>
            </div>
            <a class="calltoaction">
                <button class="button-transparent-dark font-dark noticeclose">okay</button>
            </a>
        </div>
        <script src="script/notice.js"></script>
        
        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <section id="hero" class="section-wide cardshadow cardshadow-left cardshadow-right">
            <div class="heroframe isrounded hasbackground-light">
                <div class="hero-content gs_reveal">
                    <span class="hero-left">
                        <div class="hero-left-center">
                                <div class="hero-pretext">External</div>
                                <h1 class="hero-text-small">Links & Socials</h1>
                                <span class="hero-link"><a class="isinteractive">About our Values</a><a class="hero-link-option"> or </a><a class="isinteractive hovertransform">Join us</a></span>
                        </div>
                    </span>
                    <span class="hero-scroll alignmiddle scrolldowndark">
                        <a href="#tabs" class="scrolldown"></a>
                    </span>
                    <span class="hero-right hero-text-small center fullpadding">
                        <div>🔗</div>
                    </span>
                </div>
            </div>
        </section>
    
        <div class="spacer"></div>

        <section id="links" class="wraphovertransform content">
            <div class="section-normal featureparent fullpadding isrounded">
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://psychnotes.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/0001a7682254e3fc55ce58cbb9d177865f5924ef752e27ee048aa7795c6e041f45bd16b0b7f0706b88e27508b5324885eea4d2a6bd874ea4e8b0260886caa4b6">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Maia Health</div>
                                    <div class="feature-description">Mental Health Provider in Hamburg, Germany</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/83a2068e29364d681df38acd18eed19a10aa2061a5aeaf2a04ed928aa9573660c61b1961f4182442a2e8f6f80e756ec5c7c0d1d0dae7f3b39cfe6beadc83ce00">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Psychnotes.de</div>
                                    <div class="feature-description">open education resources on psychology</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isrounded isinteractive hovertransform">  
                            <a href="http://google.de" class="gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/fe39b45d84688f58cf9ded427c2a5873d8ce9b4ac349d95f95d5a60dcdbc2f9d05d779637d6302580eee9b854d842a13463ac0bfc04d2bebbaddbcbb7b11f434">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Coin for iOs</div>
                                    <div class="feature-description">Build or break habbits with behavioral science</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/615d5e71f8bb00287e61fb445c79f493505513a3fc1575e51b01d3b00fe42d39abf05750d00271a224f16dab4a18adefcc4d1a95f5e4c66d7b5055433d2360b8">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Spark</div>
                                    <div class="feature-description">Free Resiliency Program in german language</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-normal featureparent fullpadding isrounded">
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://psychnotes.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/0001a7682254e3fc55ce58cbb9d177865f5924ef752e27ee048aa7795c6e041f45bd16b0b7f0706b88e27508b5324885eea4d2a6bd874ea4e8b0260886caa4b6">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Maia Health</div>
                                    <div class="feature-description">Mental Health Provider in Hamburg, Germany</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/83a2068e29364d681df38acd18eed19a10aa2061a5aeaf2a04ed928aa9573660c61b1961f4182442a2e8f6f80e756ec5c7c0d1d0dae7f3b39cfe6beadc83ce00">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Psychnotes.de</div>
                                    <div class="feature-description">open education resources on psychology</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isrounded isinteractive hovertransform">  
                            <a href="http://google.de" class="gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/fe39b45d84688f58cf9ded427c2a5873d8ce9b4ac349d95f95d5a60dcdbc2f9d05d779637d6302580eee9b854d842a13463ac0bfc04d2bebbaddbcbb7b11f434">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Coin for iOs</div>
                                    <div class="feature-description">Build or break habbits with behavioral science</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/615d5e71f8bb00287e61fb445c79f493505513a3fc1575e51b01d3b00fe42d39abf05750d00271a224f16dab4a18adefcc4d1a95f5e4c66d7b5055433d2360b8">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Spark</div>
                                    <div class="feature-description">Free Resiliency Program in german language</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-normal featureparent fullpadding isrounded">
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://psychnotes.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/0001a7682254e3fc55ce58cbb9d177865f5924ef752e27ee048aa7795c6e041f45bd16b0b7f0706b88e27508b5324885eea4d2a6bd874ea4e8b0260886caa4b6">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Maia Health</div>
                                    <div class="feature-description">Mental Health Provider in Hamburg, Germany</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/83a2068e29364d681df38acd18eed19a10aa2061a5aeaf2a04ed928aa9573660c61b1961f4182442a2e8f6f80e756ec5c7c0d1d0dae7f3b39cfe6beadc83ce00">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Psychnotes.de</div>
                                    <div class="feature-description">open education resources on psychology</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding isrounded isinteractive hovertransform">  
                            <a href="http://google.de" class="gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/fe39b45d84688f58cf9ded427c2a5873d8ce9b4ac349d95f95d5a60dcdbc2f9d05d779637d6302580eee9b854d842a13463ac0bfc04d2bebbaddbcbb7b11f434">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Coin for iOs</div>
                                    <div class="feature-description">Build or break habbits with behavioral science</div>
                                </div>
                            </a>
                        </div>
                        <div class="featurechild-inner fullpadding isinteractive hovertransform">  
                            <a href="http://google.de" class="isrounded gs_reveal center textdecoration-none">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/615d5e71f8bb00287e61fb445c79f493505513a3fc1575e51b01d3b00fe42d39abf05750d00271a224f16dab4a18adefcc4d1a95f5e4c66d7b5055433d2360b8">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Spark</div>
                                    <div class="feature-description">Free Resiliency Program in german language</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include footer.html %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="script/script.js"></script>
    <script src="script/vanilla-tilt.js"></script>
</body>
</html>