
/* Main (OS Light Mode) Swatches */
:root {
    --borderradius-mid: 10px; /* 5px */
    --borderradius-small: 6px; /* 3px */

    --breakpoint-wide: 1280px;
    --breakpoint-normal: 1024px;
    --breakpoint-thin: 960px;
    --breakpoint-mobile: 768px;

    --animation-speed-1: 0.2s;
    --padding-full: 30px;
    --padding-small: 10px;
    --padding-small-half: 5px;

    --font-main: 'Outfit', -apple-system, BlinkMacSystemFont, sans-serif;

    --font-size-main: 16px;
    --font-size-mono: calc(var(--font-size-main)*0.9);
    --font-size-nav: 14px;
    --font-size-button: 11px;
    --H1-size-large: 64px;
    --H1-size-small: 48px;
    --H2-size-large: 24px;
    --H2-size-small: 20px;
    --H3-size-large: 20px;
    --H3-size-small: 18px;
    --H4-size-large: 14px;
    --nav-height: 44px;
}

body {
    --universal-shadow: 1.3px 1.3px 2.2px -24px rgba(0, 0, 0, 0.056), 3.2px 3.2px 5.3px -24px rgba(0, 0, 0, 0.081), 6px 6px 10px -24px rgba(0, 0, 0, 0.1), 10.7px 10.7px 17.9px -24px rgba(0, 0, 0, 0.119), 20.1px 20.1px 33.4px -24px rgba(0, 0, 0, 0.144), 48px 48px 80px -24px rgba(0, 0, 0, 0.2);
    --universal-shadow-light: 1.3px 1.3px 2.2px -24px rgba(0, 0, 0, 0.056), 3.2px 3.2px 5.3px -24px rgba(0, 0, 0, 0.081), 6px 6px 10px -24px rgba(0, 0, 0, 0.1), 10.7px 10.7px 17.9px -24px rgba(0, 0, 0, 0.119), 20.1px 20.1px 33.4px -24px rgba(0, 0, 0, 0.144), 48px 48px 80px -24px rgba(0, 0, 0, 0.2);
    --main-nav-color: rgb(32, 33, 36, .9);
    --alt-nav-color: rgba(32, 33, 36, 1);
    --cta-color: color(srgb(0.15 0.325 0.914));
    --cta-color-dark: color(rgb(0% 32.5% 91.4%));
    --cta-color-light: #0053e9;
    --H1-color: #222;
    --H2-color: #222;
    --H3-color: #222;
    --text-color: #222;
    --text-color-inverted: #fff;
    --color-neutral: #bbb;
    --bkg-color: #fff;
    --bkg-color-highlight: rgb(245, 245, 245);
    --logo-fill: none;
    --H1-weight: 500;
    --H2-weight: 400;
    --H3-weight: 400;
    --text-weight: 400;
    --text-weight-mono: 400;
    --text-weight-bold: 600;
  }

@supports (color: color(display-p3 1 1 1)) {
    body {
        --cta-color-dark: color(display-p3 0 0.316 0.88);
        --cta-color: color(display-p3 0 0.359 1);
        --cta-color-light: color(display-p3 0.22 0.501 1);
        --text-color: #222;
        --bkg-color: #fff;
    }
}

/* Swatches for Dark Mode (OS Override)*/
body.dark-theme {
    --main-nav-color: rgb(32, 33, 36, .9);
    --alt-nav-color: rgba(32, 33, 36, 1);
    --cta-color: rgb(0, 68, 194);
    --cta-color-dark: rgb(0, 75, 214);
    --cta-color-light: #0041b9;
    --H1-color: #fff;
    --H2-color: #eee;
    --H3-color: #ddd;
    --text-color: #ddd;
    --color-neutral: #444;
    --bkg-color: #121212;
    --bkg-color-highlight: #242424;
    --logo-fill: #fff;
    --H1-weight: 300;
    --H2-weight: 250;
    --H3-weight: 250;
    --text-weight: 200;
    } 

@supports (color: color(display-p3 1 1 1)) {
    :root.dark-theme {
        --main-nav-color: rgb(0, 0, 0, 1);
        --alt-nav-color: rgba(0, 0, 0, 1);
    }
    body.dark-theme {
        --H1-color: #fff;
        --H2-color: #eee;
        --H3-color: #ddd;
        --text-color: #ddd;
        --bkg-color: #121212;
        --bkg-color-highlight: #242424;
        --logo-fill: #fff;
    }     
}

/* Swatches for OS Dark Mode*/
@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eee;
        --bkg-color: #121212;
        --cta-color: rgb(0, 68, 194);
        --cta-color-dark: rgb(0, 75, 214);
        --cta-color-light: #0041b9;
        --H1-color: #fff;
        --H2-color: #eee;
        --H3-color: #ddd;
        --text-color: #ddd;
        --bkg-color: #121212;
        --color-neutral: #444;
        --bkg-color-highlight: #242424;
        --logo-fill: #fff;
        --H1-weight: 300;
        --H2-weight: 250;
        --H3-weight: 250;
        --text-weight: 200;
    }
    /* Swatches for Light Mode (OS Override)*/
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
        --cta-color: rgb(0% 36.6% 100%);
        --cta-color-dark: color(rgb(0% 32.5% 91.4%));
        --cta-color-light: #0053e9;
        --H1-color: #222;
        --H2-color: #222;
        --H3-color: #222;
        --text-color: #222;
        --bkg-color: #fff;
        --color-neutral: #bbb;
        --bkg-color-highlight: rgb(240, 240, 240);
        --logo-fill: none;
        --H1-weight: 500;
        --H2-weight: 400;
        --H3-weight: 400;
        --text-weight: 400;
        }
  }

/* Swatches Ende */

html {
    font-family: var(--font-main); 
    font-size: var(--font-size-main);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body {
    background: var(--bkg-color);
    margin: 0;
}

a {
    color:inherit;
}

nav { /*-- Nav-Leiste --*/
    margin: 0;
    overflow: hidden;
    background: var(--main-nav-color);
    transition: 0.3s;
    position:fixed;
    top:0;
    width:100%;
    overscroll-behavior-y: none;
}

.navplaceholder {
    height: var(--nav-height);
}

.backdrop-blur {
    background-color: var(--main-nav-color);
  }
  /* if backdrop support: very transparent and blurred */
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }
  }

  nav.show.backdrop-blur {
    background-color: var(--alt-nav-color);
    -webkit-backdrop-filter: blur(none);
    backdrop-filter: blur(none);
  }

.nav-content { /*-- All Nav Content --*/
    max-width: var(--breakpoint-normal);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-full);
    padding-right: var(--padding-full);
}

.nav-content a {
    display: block;
    font-size: var(--font-size-nav);
    font-weight: 300;
    line-height: var(--nav-height);
    text-decoration: none;
    transition: all 0.15s;
    color: #ffffff;
    }

.nav-content a:hover,
.nav-icon:hover,
.mail-icon:hover {
    opacity: 0.7;
}

.nav-links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.nav-links a {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--borderradius-small);
    min-width: none;
    text-align: center;
    border: none;
}

.nav-icon {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    padding: 17px 0;
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.bar {
    height: 1.5px;
    width: 18px;
    background: white;
    transition: 0.5s;
}

.logo {
    cursor: pointer;
}


.icon-small {
    width: 24px;
    height: 24px;
}

.icon-medium {
    width: 48px;
    height: 48px;
}

.icon-dark {
    color: var(--text-color);
    fill: var(--text-color);
}

.icon-light {
    color: var(--text-color-inverted);
    fill: var(--text-color-inverted);
}
.mail-icon {
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 11px;
}

@media (max-width: 768px) {
    nav.show {
        background-color: var(--main-nav-color); 
    }

    .nav-content a {
    font-weight: 300;
    }

    .nav-links {
        position: fixed;
        top: var(--nav-height);
        right: 0;
        height: 0;
        width: 100%;
        background: var(--main-nav-color);
        flex-direction: column;
        justify-content: flex-start;
        transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.3s;
    }

    .show .nav-links {
        height: 100%;
        background-color: var(--alt-nav-color);
    }

    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: calc(2* var(--padding-full));
        margin-left: calc(2* var(--padding-full));
        transition: opacity 1.5s, height 2s;
    }
    .nav-links a:hover {
        background-color: rgba(238, 238, 238, 0.171);
    }

    .nav-links a:first-of-type {
        margin-top: calc(0.5*var(--padding-full)); 
    }

    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
        text-align: left;
    }
    .show .nav-links a::after {
        content: '';
        display: block;
        width: 100%;
        /* border-top: 1px solid rgb(90, 90, 90); */
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    .show .nav-links a:last-of-type::after {
        box-shadow: none;
    }

    .nav-icon {
        order: 1;
        display: grid;
    }

    .logo {
        order: 2;
    }

    .mail-icon {
        order: 3;
    }
}

.show .hamburgerone {
    transform: rotate(45deg) translateY(5.5px);
}

.show .hamburgertwo {
    transform: rotate(-45deg) translateY(-5.5px);
}

.content {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-weight: var(--text-weight);
}

.linkarrow:hover:after {
    content:' \203A';
    text-decoration: none;
}

.highlightlink, highlightlink:link {
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( rgba(0,0,0,0) 50%, var(--cta-color) 50%);
    transition: var(--animation-speed-1) ease;
    background-size: 2px;
    background-size: auto 185%;
}

.highlightlink:hover {
    background-position-y: 100%;
    color: var(--text-color-inverted);
}

.highlightlink-light, highlightlink-light:link {
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( rgba(0,0,0,0) 50%, var(--bkg-color-highlight) 50%);
    transition: var(--animation-speed-1) ease;
    background-size: 2px;
    background-size: auto 185%;
}
.highlightlink-light:hover {
    background-position-y: 100%;
    color: var(--text-color);
}

.content h1 {
    font-size: var(--H1-size-large);
    padding-top: none;
    margin-bottom: 0;
    font-weight: var(--H1-weight);
    color: var(--H1-color);
}
    @media (max-width: 960px) {
        .content h1 {
            font-size: var(--H1-size-small);
        }
    }

.content h2 {
    font-size: var(--H2-size-large);
    margin-bottom: 5px;
    font-weight: var(--H2-weight);
    color: var(--H2-color);
}
.content h3 {
    font-size: var(--H3-size-large);
    margin-bottom: 5px;
    font-weight: var(--H3-weight);
}
.content h4 {
    font-size: var(--H4-size-large);
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: var(--text-weight);
}
.content h5 {
    font-size: var(--H4-size-large);
    margin-bottom: 5px;
    font-weight: var(--text-weight);
    text-transform: uppercase;
}


hr {
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid var(--bkg-color-highlight);
}

.section-wide {
    max-width: var(--breakpoint-wide);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    }

.section-ultrawide {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.section-normal {
    max-width: var(--breakpoint-normal);
    margin-left: auto;
    margin-right: auto;
}

.min25vh {
    min-height: 25vh;
}
.spacer {
    margin-top: var(--padding-full);
}

.marginbottom {
    margin-bottom: 10px;
}
    /* Buttons */


.button-light {
    align-items: center;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: var(--borderradius-small);
    color: var(--text-color);
    background:  var(--bkg-color-highlight);
    font-family: var(--font-main);
    font-size: var(--font-size-button);
    border: none;
    box-shadow: inset 0 0 0 1px var(--bkg-color);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .button-light:hover {
        background: var(--bkg-color); 
        transition: var(--animation-speed-1);
    }
    .button-light:active {
        background: var(--color-neutral);
        transition: 0s;
        outline: none;
    }
    .button-light:focus {
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }

.button-blue {
    align-items: center;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: var(--borderradius-small);
    font-family: var(--font-main);
    font-size: var(--font-size-button);
    border: none;
    color: #fff;
    background: var(--cta-color);
    background-origin: border-box;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .button-blue:hover {
        background: var(--cta-color-light);
        transition: var(--animation-speed-1);
    }
    .button-blue:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        border: none;
      }
    .button-blue:active {
        background: var(--cta-color-dark);
        outline: none;
        transition: 0s;
    }

    /* Custom Modifiers */
    /* -- Shadows */
.permashadow {
    box-shadow: var(--universal-shadow);
    overflow:visible;
}
.permashadow-light {
    box-shadow: var(--universal-shadow-light);
    overflow:visible;
}

.hovershadow:hover {
    border: 0px solid var(--cta-color-light);
    box-shadow: var(--universal-shadow);
    transition: box-shadow .3s;
}
    /* -- Colors & Shapes*/

    .font-mono {
        font-family: 'Space Mono', monospace;
        font-size: var(--font-size-mono);
        font-weight: var(--text-weight-mono);
    }

    .text-bold {
        font-weight: var(--text-weight-bold);
       }

    .font-code::before {
        content:' ';
    }
    .font-code:after {
        content:' ';
    }
    .invertfontcolor {
        color: var(--text-color-inverted);
    }
    
/*     .frostedglass {
        background: linear-gradient(320deg, #0d8d51f1 0%, #205430e8 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.52' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    } */


    .gradient-jadegreen {
        background: linear-gradient(320deg, #0d8d51 0%, #205430 100%);
    }

    .gradient-purple {
        background: linear-gradient(320deg, #5242e4 0%, #732faa 100%);
    }

    .gradient-red {
        background: linear-gradient(320deg, #e26868 0%, #e44242 100%);
    }

    .gradient-cta {
        background: linear-gradient(320deg, var(--cta-color-light) 0%, var(--cta-color-dark) 100%);
    }

    .gradient-babyblue {
        background: linear-gradient(320deg, rgba(66,151,223,1) 0%, rgba(18,98,181,1) 100%);
    }

    .hasbackground {
        background: var(--bkg-color);
    }

    .hasbackground-light {
        background: var(--bkg-color-highlight);
    }
    
    .hasbackground-dark {
        background: var(--bkg-color);
    }

    .isrounded {
        border-top-left-radius: var(--borderradius-mid);
        border-top-right-radius: var(--borderradius-mid);
        border-bottom-right-radius: var(--borderradius-mid);
        border-bottom-left-radius: var(--borderradius-mid);
    }

    /* -- Positioning */
    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1ch;
      }

    .alignbottom {
        bottom: 0;
      }
    .text-center {
        text-align: center;
    }
    .alignmiddle {
        margin-left: auto;
        margin-right: auto;
    }
    .text-left {
        text-align: left;
        padding-left: var(--padding-small);
    }

    .fullpadding {
        padding: var(--padding-full);
    }
    .fullpaddingsection {
        padding-left: var(--padding-full);
        padding-right: var(--padding-full);
        padding-bottom: var(--padding-full);
    }

    .thirdpadding {
        padding: calc(var(--padding-full)/3);
    }
    .thirdofgap {
        gap: var(--padding-small);
    }

    .hasmargin {
        margin: 10px;
    }

/*-- Pancake Layout --*/
    .pancakeparent {
        display: flex;
        flex-wrap: wrap;
        gap: var(--padding-small);
    }
    
    .pancakechild {
        flex: 1 1 300px;
        justify-content: space-around;
        flex-grow: 1;      /* <-- Lets them grow equally */
        flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
        max-height: 50vh;
    }
    
    .footerchildleft {
        flex: 1 1 calc(var(--breakpoint-thin)/2);
        justify-content: space-around;
        flex-grow: 1;      /* <-- Lets them grow equally */
        flex-shrink: 1;
    }
    
    .footersubchildleft{
        flex: 1 1 250px;
        justify-content: space-around;
        flex-grow: 0;      /* <-- Lets them grow equally */
        flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
    }

    @media (min-width: 769px) {        
        .footerchildleft {
            max-width: 20%;
            
        }

        .footerchild {
            max-width: 20%;
        }
    }


/*-- Scrollsnap Gallery --*/

.hscrollsnap {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    gap: var(--padding-small);
    /*  -ms-overflow-style: none; */ /* for IE and Edge */
    /* scrollbar-width: none;  /* Firefox */
  }
/*     .hscrollsnap::-webkit-scrollbar {
        display: none;
    } */

.hsn-card {
    overflow: none;
    scroll-snap-align: center;
  }
 
.hsn-card:last-child {
    margin-right: var(--padding-full);
  }

.hsn-card img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    max-height: 50vh;
    overflow: none;
    z-index: -1;
}
@media (max-width: 768px) {
    .hsn-card img {
        max-width: 80vw;
        max-height: 100vh;
    }
    .hsn-card {
        max-width: 80vw;
        max-height: 100vh;
    }
    .hsn-card img {
        max-width: 70vw;
        max-height: 100vh;
        overflow: none;
        z-index: -1;
    }
}

.footerheading::after {
    content: '';
    display: block;
    width: 100%;
    box-shadow: 0px 3px 0px 0.5px var(--bkg-color-highlight);
}

.footerlink {
    text-decoration: none;
    font-size: var(--H4-size-large);
}

.scrollcontainer {
    overflow-x: none;
}

.scrollsection {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-x: none; /* für Ausblenden der Leiste*/
    /* overflow-x: auto; */
}
.scrollsection:hover {
    overflow-x: scroll;
}

.scrollsection::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scrollsection::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: var(--cta-color);
}
.scrollsection::-webkit-scrollbar-thumb:hover {
    background: var(--cta-color-light);
}
.scrollsection::-webkit-scrollbar-thumb:active {
    background: var(--cta-color-dark);
}