---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Imprint | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
            <link rel="icon" href="favicon/favicon.svg">
            <link rel="mask-icon" href="favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
            <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
            <link rel="manifest" href="favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->    
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->

    <div class="content">
        <div id="banner" class="noticebanner font-dark blur">
            <div id="notice" class="notice-content section-normal font-nav center">
                <p>This website is currently in development.</p>
            </div>
            <a class="calltoaction">
                <button class="button-transparent-dark font-dark noticeclose">okay</button>
            </a>
        </div>
        <script src="notice.js"></script>
        
        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <section id="hero" class="section-wide cardshadow cardshadow-left cardshadow-right">
            <div class="heroframe isrounded hasbackground-light">
                <div class="hero-content gs_reveal">
                    <span class="hero-left">
                        <div class="hero-left-center">
                                <br>
                                <div class="hero-pretext">Imprint / Impressum</div>
                                <h1 class="hero-text-small">Terms & Privacy</h1>
                                <p class="gs_reveal gs_reveal_nomove">
                                    Thank you for your interest in this site.<br>
                                    By using it you agree to following terms.
                                </p>
                                <br>
                        </div>
                    </span>
                </div>
            </div>
        </section>
    
        <div class="spacer"></div>
    
        <section class="longform-container">
            <p class="gs_reveal gs_reveal_nomove">
                <span class="hero-link-option">Use these links to go directly to the</span><br>
                <a class="isinteractive" href="terms.html#terms">Terms of Service</a><span class="hero-link-option"> or </span>
                <a class="isinteractive" href="terms.html#imprint">Imprint</a><br>
                <span class="hero-link-option">sections on this page</span>
            </p>
            <div class="spacer"></div>
        </section>

        <div id="privacy" class="section-normal gs_reveal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel">at your discretion</div>
            </div>
            <h2 class="section-heading">Privacy Policy</h2>
            <div class="spacer"></div>
        </div>

        <section class="longform-container text-left">
            <div class="gs_reveal gs_reveal_nomove">
                Mental health is a deeply personal and potentially delicate matter.<br>
                That's why we keep your visit private.<br><br>
            </div>

            <div class="gs_reveal gs_reveal_nomove">
                <ul>
                    <li>We don't track your visit.</li>
                    <li>We don't collect any personal data.</li>
                    <li>We don't run ads.</li>
                    <br>
                </ul>
            </div>
            <div class="gs_reveal gs_reveal_nomove">
                Please note we have no influence on what data is collected by our hoster. Therefore we must ask you to read and agree to <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement">the privacy policy of github.com</a>.
            </div>
            <div class="spacer"></div>
        </section>

        <div id="cookies" class="section-normal gs_reveal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel">strict diet</div>
            </div>
            <h2 class="section-heading">Cookie Policy</h2>
            <div class="spacer"></div>
        </div>

        <section class="longform-container text-left">
            <div class="gs_reveal gs_reveal_nomove">
                We save your preferences regarding (1) color scheme and (2) dismissed notices on your device so they don't reset if you reload or navigate the page.<br>
                You can delete all our cookies by visiting <a href="">this link</a>.<br><br>
            </div>
            <div class="spacer"></div>
        </section>

        <div id="terms" class="section-normal gs_reveal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel">terms and conditions</div>
            </div>
            <h2 class="section-heading">Terms Of Service</h2>
            <div class="spacer"></div>
        </div>

        <section class="longform-container text-left">
            <div class="gs_reveal gs_reveal_nomove">
                Stuff
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </section>

        <div id="imprint" class="section-normal gs_reveal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel">Contact us</div>
            </div>
            <h2 class="section-heading">Imprint / Impressum</h2>
            <div class="spacer"></div>
        </div>

        <section class="longform-container text-left">
            <div class="gs_reveal gs_reveal_nomove">
                <h3>Kontakt</h3>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird ausdrücklich widersprochen.<br><br>
                Die Betreiber der Seite behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen (etwa durch Spam-Mails) vor.<br><br>
                Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br><br>
                Simon Kelch<br>
                <span>hello</span>@<span>simonkelch.de</span><br><br>
                // Adresse<br>
            </div>
            <h3>Haftung für Inhalte</h3>
            <div class="gs_reveal gs_reveal_nomove">
                
                Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.<br>
                Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich.<br>
                Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
            </div>
            <h3>Haftung für Links</h3>
            <div class="gs_reveal gs_reveal_nomove"> 
                Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar.<br>
                Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
            </div>
            <h3>Urheberrecht</h3>
            <div class="gs_reveal gs_reveal_nomove">
                Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis.<br>
                Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
            </div>
            <h3>Datenschutz</h3>
            <div class="gs_reveal gs_reveal_nomove">
                Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.<br>
                Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
        </section>
    </div>
    {% include footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="script/script.js"></script>
    <script src="script/vanilla-tilt.js"></script>
</body>
</html>