:root {
    --borderradius-mid: 10px; /* 5px */
    --borderradius-small: 6px; /* 3px */

    --breakpoint-wide: 1280px;
    --breakpoint-normal: 1024px;
    --breakpoint-thin: 960px;
    --breakpoint-mobile: 768px;

    --icon-size-badge: 24px;
    --animation-speed-1: 0.2s;
    --padding-full: 30px;
    --padding-small: 10px;
    --padding-small-half: 5px;

    --font-main: 'Outfit', -apple-system, BlinkMacSystemFont, sans-serif;
    
    --transition-speed: 0.3s;
    --font-size-base: 18px;
    --font-size-main: calc(16/16*var(--font-size-base));
    --font-size-small: calc(var(--font-size-main)*0.9);
    --font-size-mono: calc(var(--font-size-main)*0.9);
    --font-size-nav: calc(var(--font-size-main)/18*15);
    --font-size-button: 12px;
    --font-size-hero-large: 120px;
    --font-size-hero-large-s: calc(var(--font-size-hero-large)*0.8);
    --font-size-hero-small: 60px;
    --font-size-hero-small-s: calc(var(--font-size-hero-small)*0.8);
    --H1-size-large: calc(var(--font-size-main)/18*64);
    --H1-size-small: calc(var(--font-size-main)/18*48);
    --H2-size-large: calc(var(--font-size-main)/18*24);
    --H2-size-small: calc(var(--font-size-main)/18*20);
    --H3-size-large: calc(var(--font-size-main)/18*22);
    --H3-size-small: var(--font-size-main);
    --H4-size-large: calc(var(--font-size-main)/18*14);
    --nav-height: 44px;
}
/* Main Colors (Light) */
body {
    --universal-shadow: 1.3px 1.3px 2.2px -24px rgba(0, 0, 0, 0.056), 3.2px 3.2px 5.3px -24px rgba(0, 0, 0, 0.081), 6px 6px 10px -24px rgba(0, 0, 0, 0.1), 10.7px 10.7px 17.9px -24px rgba(0, 0, 0, 0.119), 20.1px 20.1px 33.4px -24px rgba(0, 0, 0, 0.144), 48px 48px 80px -24px rgba(0, 0, 0, 0.2);
    --universal-shadow-light: 1.3px 1.3px 2.2px -24px rgba(0, 0, 0, 0.056), 3.2px 3.2px 5.3px -24px rgba(0, 0, 0, 0.081), 6px 6px 10px -24px rgba(0, 0, 0, 0.1), 10.7px 10.7px 17.9px -24px rgba(0, 0, 0, 0.119), 20.1px 20.1px 33.4px -24px rgba(0, 0, 0, 0.144), 48px 48px 80px -24px rgba(0, 0, 0, 0.2);
    --main-nav-color: rgba(21, 22, 24, 0.902);
    --alt-nav-color: rgb(32, 33, 36);
    --cta-color: color(srgb(0.15 0.325 0.914));
    --cta-color-dark: rgb(0% 32.5% 91.4%);
    --cta-color-light: #0053e9;
    --H1-color: #222;
    --H2-color: #222;
    --H3-color: #222;
    --text-color: #222;
    --text-color-inverted: #fff;
    --color-neutral: #bbb;
    --bkg-color: #fff;
    --bkg-color-highlight: rgb(245, 245, 245);
    --logo-fill: none;
    --H1-weight: 500;
    --H2-weight: 400;
    --H3-weight: 400;
    --text-weight: 400;
    --text-weight-mono: 400;
    --text-weight-bold: 600;
  }

@supports (color: color(display-p3 1 1 1)) {
    body {
        --cta-color-dark: color(display-p3 0 0.316 0.88);
        --cta-color: color(display-p3 0 0.359 1);
        --cta-color-light: color(display-p3 0.22 0.501 1);
        --text-color: #222;
        --bkg-color: #fff;
    }
}

/* Swatches for Dark Mode (OS Override)*/
body.dark-theme {
    --main-nav-color: rgb(32, 33, 36, .9);
    --alt-nav-color: rgba(32, 33, 36, 1);
    --cta-color: rgb(0, 68, 194);
    --cta-color-dark: rgb(0, 75, 214);
    --cta-color-light: #0041b9;
    --H1-color: #fff;
    --H2-color: #eee;
    --H3-color: #ddd;
    --text-color: #ddd;
    --color-neutral: #444;
    --bkg-color: #121212;
    --bkg-color-highlight: #242424;
    --logo-fill: #fff;
    --H1-weight: 300;
    --H2-weight: 250;
    --H3-weight: 250;
    --text-weight: 200;
    } 

@supports (color: color(display-p3 1 1 1)) {
    :root.dark-theme {
        --main-nav-color: rgb(0, 0, 0, 1);
        --alt-nav-color: rgba(0, 0, 0, 1);
    }
    body.dark-theme {
        --H1-color: #fff;
        --H2-color: #eee;
        --H3-color: #ddd;
        --text-color: #ddd;
        --bkg-color: #121212;
        --bkg-color-highlight: #242424;
        --logo-fill: #fff;
    }     
}

/* Swatches for OS Dark Mode*/
@media (prefers-color-scheme: dark) {
    body {
        --text-color: #eee;
        --bkg-color: #121212;
        --cta-color: rgb(0, 68, 194);
        --cta-color-dark: rgb(0, 75, 214);
        --cta-color-light: #0041b9;
        --H1-color: #fff;
        --H2-color: #eee;
        --H3-color: #ddd;
        --text-color: #ddd;
        --bkg-color: #121212;
        --color-neutral: #444;
        --bkg-color-highlight: #242424;
        --logo-fill: #fff;
        --H1-weight: 300;
        --H2-weight: 250;
        --H3-weight: 250;
        --text-weight: 200;
    }
    /* Swatches for Light Mode (OS Override)*/
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
        --cta-color: rgb(0, 68, 194);
        --cta-color-dark: rgb(0% 32.5% 91.4%);
        --cta-color-light: #0053e9;
        --H1-color: #222;
        --H2-color: #222;
        --H3-color: #222;
        --text-color: #222;
        --bkg-color: #fff;
        --color-neutral: #bbb;
        --bkg-color-highlight: rgb(240, 240, 240);
        --logo-fill: none;
        --H1-weight: 500;
        --H2-weight: 400;
        --H3-weight: 400;
        --text-weight: 400;
        }
  }

/* Swatches Ende */

html {
    font-family: var(--font-main); 
    font-size: var(--font-size-main);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

/* GSAP Element Reveal Animation */
.gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }

ul li {
    position: relative;
    margin-left: 1em;
  }

ul li:before {
    position: absolute;
    left: -1em;
    color: var(--cta-color-dark);
    content: "▪";
  }

body {
    margin: 0;
    background: var(--bkg-color);
}

/* Text Selection */
/*       ---      */

::-moz-selection { /* Code for Firefox */
    color: var(--text-color-inverted);
    background: var(--cta-color-dark);
  }

::selection {
    color: var(--text-color-inverted);
    background: var(--cta-color-dark);
}
    /* Text Selection End */

input, button, textarea, select {
    font: inherit;
  }

a {
    color:inherit;
}

q {
    quotes: """ """;
  }

p, span {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* mark links as external */
p a:not([href*='domain.com']):not([href^='#']):not([href^='/']):after {
    content: ' ↗';
    /* oder */
    /*
    content: url(/link/to/icon.svg);
    margin-left: 0.25rem;
    */
}

code {
    font-family: monospace;
}

nav { /*-- Nav-Leiste --*/
    margin: 0;
    overflow: hidden;
    background: var(--main-nav-color);
    transition: var(--transition-speed);
    position: fixed;
    top:0;
    width:100%;
    overscroll-behavior-y: none;
    z-index: 999;
}
.nav-color {
    background: var(--main-nav-color);
}
.ribbon {
    height: calc((2*var(--nav-height)) + var(--padding-full));
    position: relative;
}

.ribbonintro {
    position: absolute;
    top: calc(2* var(--nav-height));
    width: 100%;
    color: var(--bkg-color);
    min-height: var(--nav-height);
}

.hero {
    padding-top: var(--nav-height);
}

.heroframe {
    background:rgb(0, 0, 0, 0.1);
    /* max-height: calc(100vh - 3*var(--nav-height)); */
    overflow: hidden;
}

.navplaceholder {
    height: var(--nav-height);
}
.gradient-nav {
    background-color: var(--main-nav-color);
}

.noticebanner {
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    visibility: hidden;
    transition: var(--transition-speed);
    z-index: 800;
}

.showNotice {
    visibility: visible;
    opacity: 1;
    height: calc(2*var(--nav-height));
    transition: 0s;
}

.notice-content {
    height: var(--nav-height);
    position: relative;
    text-align: center;
    top: var(--nav-height);
}

.notice-content p {
    text-align: center;
}

.noticebanner .calltoaction {
    margin-right: var(--padding-full);
    height: var(--nav-height);
    top: var(--nav-height);
    position: absolute;
    right: 0px;
}

.noticebanner .calltoaction .button-transparent-dark {
    margin-top: 4px;    
}

.blur {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.3);
}

.backdrop-blur {
    background-color: var(--main-nav-color);
  }

  /* if backdrop support: very transparent and blurred */
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
    }
  }

  nav.show.backdrop-blur {
    background-color: var(--alt-nav-color);
    -webkit-backdrop-filter: blur(none);
    backdrop-filter: blur(none);
  }

.hero-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
}

.hero-left {
    padding-left: var(--padding-full);
    text-align: left;
    /* background: fuchsia; */
    min-width: 30vw;
    order: 1;
    flex: 1;
    align-self: flex-end;
    padding-bottom: var(--padding-full);
}

.hero-scroll { /* the container */
    order: 2;
    z-index: 80;
    max-width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    background-position: 0 10vh;
    display: inline-block;
    align-self: flex-end;
    position: relative;
}

.scrolldown { /* the running line */
    z-index: 80;
    bottom:0;
    width: 1px;
    min-height: 10vh;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -10vh;
    background-size: 100% 200%;
    animation: scrolldown 3s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
.scrolldowndark .scrolldown { /* the running line */
    background: linear-gradient(to bottom, rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -10vh;
    background-size: 100% 200%;
    animation: scrolldown 3s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
        }
@keyframes scrolldown {
    0% { background-position: 0 10vh; }
    75% { background-position: 0 0; }
    100% { background-position: 0 -10vh; }
}


.hero-right {
    color: greenyellow;
    padding-right: var(--padding-full);
    min-width: 30vw;
    order: 3;
    flex: 1;
}

.nav-content { /*-- All Nav Content --*/
    max-width: var(--breakpoint-normal);
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding-full);
    padding-right: var(--padding-full);
    z-index: 300;
}

.nav-content a {
    display: block;
    font-size: var(--font-size-nav);
    font-weight: 300;
    line-height: var(--nav-height);
    text-decoration: none;
    transition: all var(--transition-speed);
    color: #ffffff;
    }

footer .badge a {
    text-decoration: none;
}
.nav-content a:hover,
.nav-icon:hover,
.mail-icon:hover {
    opacity: 0.7;
}

.nav-links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.nav-links a {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: var(--borderradius-small);
    min-width: none;
    text-align: center;
    border: none;
}

.nav-icon {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    padding: 17px 0;
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}


.bar {
    height: 1px;
    width: 18px;
    background: white;
    transition: 0.5s;
}

.logo {
    cursor: pointer;
}

.icon-small {
    width: 24px;
    height: 24px;
}

.icon-medium {
    width: 48px;
    height: 48px;
}

.icon-dark {
    color: var(--text-color);
    fill: var(--text-color);
}

.icon-light {
    color: var(--text-color-inverted);
    fill: var(--text-color-inverted);
}

.mail-icon {
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 11px;
}

@media (max-width: 768px) {
    nav.show {
        background-color: var(--main-nav-color); 
    }

    .nav-content a {
    font-weight: 300;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-subtext {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        font-size: var(--font-size-small);
    }

    .hero-left {
        order: 2;
        padding-left: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: center;
    }
    .hero-left-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hero-right {
        order: 1;
        padding-right: 0;
    }

    .hero-scroll {
        order: 3;
        min-height: 10vh;
    }


    .nav-links {
        position: fixed;
        top: var(--nav-height);
        right: 0;
        height: 0;
        width: 100%;
        background: var(--main-nav-color);
        flex-direction: column;
        justify-content: flex-start;
        transition: height 1s cubic-bezier(0.19, 1, 0.22, 1), background-color 0.3s;
    }

    .show .nav-links {
        height: 100%;
        background-color: var(--alt-nav-color);
    }

    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: calc(2* var(--padding-full));
        margin-left: calc(2* var(--padding-full));
        transition: opacity 1.5s, height 2s;
    }

    .nav-links a:hover {
        background-color: rgba(238, 238, 238, 0.171);
    }

    .nav-links a:first-of-type {
        margin-top: calc(0.5*var(--padding-full)); 
    }

    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
        text-align: left;
    }
    .show .nav-links a::after {
        content: '';
        display: block;
        width: 100%;
        /* border-top: 1px solid rgb(90, 90, 90); */
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    .show .nav-links a:last-of-type::after {
        box-shadow: none;
    }

    .nav-icon {
        order: 3;
        display: grid;
    }

    .logo {
        order: 2;
    }

    .mail-icon {
        order: 1;
    }
}

.show .hamburgerone {
    transform: rotate(45deg) translateY(5.5px);
}

.show .hamburgertwo {
    transform: rotate(-45deg) translateY(-5.5px);
}

.content {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-weight: var(--text-weight);
}

.linkarrow:hover:after {
    content:' \203A';
    text-decoration: none;
}

.highlightlink, highlightlink:link {
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( rgba(0,0,0,0) 50%, var(--cta-color) 50%);
    transition: var(--animation-speed-1) ease;
    background-size: 2px;
    background-size: auto 185%;
}

.highlightlink:hover {
    background-position-y: 100%;
    color: var(--text-color-inverted);
}

.highlightlink-light, highlightlink-light:link {
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( rgba(0,0,0,0) 50%, var(--bkg-color-highlight) 50%);
    transition: var(--animation-speed-1) ease;
    background-size: auto 185%;
}

.highlightlink-light:hover {
    background-position-y: 100%;
    color: var(--text-color);
}

.content .hero-text {
    padding-bottom: var(--padding-full);
    margin-top: 0px;
    font-size: var(--font-size-hero-large-s);
    -webkit-transition: font-size .25s ease-in-out;
    -moz-transition: font-size .25s ease-in-out;
    -o-transition: font-size .25s ease-in-out;
    transition: font-size .25s ease-in-out;
    font-weight: 300;
    line-height: 70%;
    }
@media (min-width: 769px) {
    .content .hero-text {
        font-size: var(--font-size-hero-large);
    }
}

.content .hero-text-small {
    padding-bottom: var(--padding-full);
    margin-top: 0px;
    font-size: var(--font-size-hero-small-s);
    -webkit-transition: font-size .25s ease-in-out;
    -moz-transition: font-size .25s ease-in-out;
    -o-transition: font-size .25s ease-in-out;
    transition: font-size .25s ease-in-out;
    font-weight: 500;
    line-height: 100%;
    }
@media (min-width: 769px) {
    .content .hero-text-small {
        font-size: var(--font-size-hero-small);
    }
}


.hero-pretext {
    text-transform: uppercase;
    padding-top: var(--padding-full);
    padding-bottom: var(--padding-small);
    font-size: var(--font-size-button);
    opacity: 70%;
}

.hero-subtext {
    padding-top: var(--padding-full);
    padding-bottom: var(--padding-full);
    opacity: 70%;
}

.hero-link {
    font-size: var(--H3-size-small);
    padding-bottom: var(--padding-full);
}

.hero-link-option {
    opacity: 40%;
}

.content h1 {
    font-size: var(--H1-size-large);
    padding-top: 0;
    margin-top: 0;
    margin-bottom: var(--padding-small);
    font-weight: var(--H1-weight);
    color: var(--H1-color);
}
    @media (max-width: 960px) {
        .content h1 {
            font-size: var(--H1-size-small);
        }
    }

.content h2 {
    font-size: var(--H2-size-large);
    margin-bottom: 5px;
    font-weight: var(--H2-weight);
    color: var(--H2-color);
}
.content h3 {
    font-size: var(--H3-size-large);
    margin-bottom: 5px;
    font-weight: var(--H3-weight);
}

.content h4 {
    font-size: var(--H4-size-large);
    margin-bottom: 5px;
    margin-top: 0px;
    font-weight: var(--text-weight);
}
.content h5 {
    font-size: var(--H4-size-large);
    margin-bottom: 5px;
    font-weight: var(--text-weight);
    text-transform: uppercase;
}

.smallcapslabel {
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    font-size: var(--font-size-button);
    font-weight: 400;
}

hr {
    border: 0;
    height: 0;
    width: 80%;
    border-top: 1px solid var(--bkg-color-highlight);
}

.section-wide {
    max-width: var(--breakpoint-wide);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    }

.section-ultrawide {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.section-normal {
    max-width: var(--breakpoint-normal);
    margin-left: auto;
    margin-right: auto;
}
.min10vh {
    min-height: 10vh;
}
.min25vh {
    min-height: 25vh;
}
.min50vh {
    min-height: 50vh;
}
.min80vh {
    min-height: 80vh;
}
.max25vh {
    max-height: 25vh;
}
.max50vh {
    max-height: 50vh;
}

.spacer {
    margin-top: var(--padding-full);
}

.marginbottom {
    margin-bottom: 10px;
}
    /* Buttons */
.marginfull-lr {
    margin-left: var(--padding-full);
    margin-right: var(--padding-full);
}

.button-light {
    align-items: center;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: var(--borderradius-small);
    color: var(--text-color);
    background:  var(--bkg-color-highlight);
    font-family: var(--font-main);
    font-size: var(--font-size-button);
    border: none;
    box-shadow: inset 0 0 0 1px var(--bkg-color);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .button-light:hover {
        background: var(--bkg-color); 
        transition: var(--animation-speed-1);
    }
    .button-light:active {
        background: var(--color-neutral);
        transition: 0s;
        outline: none;
    }
    .button-light:focus {
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }

.button-transparent-light {
    align-items: center;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: var(--borderradius-small);
    color: var(--text-color-inverted);
    background: rgba(255, 255, 255, 0.1);
    font-family: var(--font-main);
    font-size: var(--font-size-button);
    border: none;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .button-transparent-light:hover {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
        transition: var(--animation-speed-1);
    }
    .button-transparent-light:active {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
        transition: 0s;
        outline: none;
    }
    .button-transparent-light:focus {
        box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;
    }


    .button-transparent-dark {
        align-items: center;
        padding: 10px 17px;
        cursor: pointer;
        border-radius: var(--borderradius-small);
        color: var(--text-color);
        background: rgba(255, 255, 255, 0.1);
        font-family: var(--font-main);
        font-size: var(--font-size-button);
        border: none;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        }
        .button-transparent-dark:hover {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: inset 0 0 0 1px rgba(31, 31, 31, 0.5);
            transition: var(--animation-speed-1);
        }
        .button-transparent-dark:active {
            background: rgba(255, 255, 255, 0.5);
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
            transition: 0s;
            outline: none;
        }
        .button-transparent-dark:focus {
            box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
            outline: 0;
        }
.button-cta {
    align-items: center;
    padding: 10px 17px;
    cursor: pointer;
    border-radius: var(--borderradius-small);
    font-family: var(--font-main);
    font-size: var(--font-size-button);
    border: none;
    color: #fff;
    background: var(--cta-color);
    background-origin: border-box;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .button-cta:hover {
        background: var(--cta-color-light);
        transition: var(--animation-speed-1);
    }
    .button-cta:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        border: none;
      }
    .button-cta:active {
        background: var(--cta-color-dark);
        outline: none;
        transition: 0s;
    }

    /* Custom Modifiers */
    /* -- Shadows */
.permashadow {
    box-shadow: var(--universal-shadow);
    overflow:visible;
}
.permashadow-light {
    box-shadow: var(--universal-shadow-light);
    overflow:visible;
}

.permashadow:hover {
    box-shadow: var(--universal-shadow);
    transition: box-shadow .3s;
}
    /* -- Colors & Shapes*/

.font-mono, code {
    font-family: 'Space Mono', monospace;
    font-size: var(--font-size-mono);
    font-weight: var(--text-weight-mono);
}
.font-nav {
    font-size: var(--font-size-nav);
}

nav .nav-active {
    font-weight: 500;
}
code {
    background-color: var(--bkg-color-highlight);
}

.text-bold {
    font-weight: var(--text-weight-bold);
    }

.allcaps {
    text-transform: uppercase;
}

code::before {
    content:'';
    padding-left: 2px;
}
code::after {
    content:'';
    padding-right: 2px;

}
.invertfontcolor {
    color: var(--text-color-inverted);
}
.font-dark {
    color: var(--main-nav-color);
    font-weight: 400;
}

/*     .frostedglass {
    background: linear-gradient(320deg, #0d8d51f1 0%, #205430e8 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.52' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
} */

.gradient-lavender {
    background: linear-gradient(to right, #7f53ac 0, #657ced 100%);
}
.gradient-deepblue {
    /* background: linear-gradient(320deg, #0044c2 0%, #004bd6 100%); */
    background: linear-gradient(320deg, #0c4cc2 0%, #073fa8 100%);
}
.gradient-nightblack {
    background: radial-gradient(#202220 0%, #101110 100%);
}
.gradient-graphite {
    background: linear-gradient(320deg, #343934 0%, #252724 100%);
}

.gradient-jadegreen {
    background: linear-gradient(320deg, #0d8d51 0%, #205430 100%);
}

.gradient-purple {
    background: linear-gradient(320deg, #5242e4 0%, #732faa 100%);
}

.gradient-red {
    background: linear-gradient(320deg, #e26868 0%, #e44242 100%);
}

.gradient-turquoise {
    background: linear-gradient(45deg, #242F41 0%, #93B1B2 100%);
} 

.gradient-cta {
    background: linear-gradient(320deg, var(--cta-color-light) 0%, var(--cta-color-dark) 100%);
}

.gradient-babyblue {
    background: linear-gradient(320deg, rgba(66,151,223,1) 0%, rgba(18,98,181,1) 100%);
}

.gradient-mokka {
    background: radial-gradient(#777166 0%, #433E38 100%);
}
.hasbackground {
    background: var(--bkg-color);
}

.hasbackground-light {
    background: var(--bkg-color-highlight);
}

.hasbackground-dark {
    background: var(--bkg-color);
}

.isrounded {
    border-top-left-radius: var(--borderradius-mid);
    border-top-right-radius: var(--borderradius-mid);
    border-bottom-right-radius: var(--borderradius-mid);
    border-bottom-left-radius: var(--borderradius-mid);
}

.isrounded-top {
    border-top-left-radius: var(--borderradius-mid);
    border-top-right-radius: var(--borderradius-mid);
}

.isrounded-bottom {
    border-bottom-left-radius: var(--borderradius-mid);
    border-bottom-right-radius: var(--borderradius-mid);
}

.isrounded-right {
    border-top-right-radius: var(--borderradius-mid);
    border-bottom-right-radius: var(--borderradius-mid);
}
.isrounded-left {
    border-top-left-radius: var(--borderradius-mid);
    border-bottom-left-radius: var(--borderradius-mid);
}

/* -- Positioning */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.alignbottom {
    bottom: 0;
    }
.aligntop {
    top: 0;
    }

.align-left {
    left: 0px;
    right: auto;
}

.align-right {
    right: 0px;
    left: auto;
}
    
.text-center {
    text-align: center;
}
.alignmiddle {
    margin-left: auto;
    margin-right: auto;
}
.alignvmiddle {
    margin-top: auto;
    margin-bottom: auto;
}

.text-left {
    text-align: left;
    padding-left: var(--padding-small);
}
.text-right {
    text-align: right;
    padding-right: var(--padding-small);
}

.fullpadding {
    padding: var(--padding-full);
}

.smallpadding {
    padding: var(--padding-small);
}
.margin-small-topbottom {
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}
.margin-topbottom {
    margin-top: var(--padding-full);
    margin-bottom: var(--padding-full);
}


.fullpaddingsection {
    padding-left: var(--padding-full);
    padding-right: var(--padding-full);
    padding-bottom: var(--padding-full);
}

.thirdpadding {
    padding: calc(var(--padding-full)/3);
}
.thirdofgap {
    gap: var(--padding-small);
}

.hasmargin {
    margin: 10px;
}

/*-- Pancake Layout --*/
.pancakeparent {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-small);
}

.pancakechild {
    flex: 1 1 300px;
    justify-content: space-around;
    flex-grow: 1;      /* <-- Lets them grow equally */
    flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
    max-height: 50vh;
}

.footerchildleft {
    flex: 1 1 calc(var(--breakpoint-thin)/2);
    justify-content: space-around;
    flex-grow: 1;      /* <-- Lets them grow equally */
    flex-shrink: 1;
}

.footersubchildleft{
    flex: 1 1 250px;
    justify-content: space-around;
    flex-grow: 0;      /* <-- Lets them grow equally */
    flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
}

@media (min-width: 769px) {        
    .footerchildleft {
        max-width: 20%;
        
    }

    .footerchild {
        max-width: 20%;
    }
}


/*-- Scrollsnap Gallery --*/

.hscrollsnap {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: flex;
    gap: var(--padding-small);
    /*  -ms-overflow-style: none; */ /* for IE and Edge */
    /* scrollbar-width: none;  /* Firefox */
  }
/*     .hscrollsnap::-webkit-scrollbar {
        display: none;
    } */

.hsn-card {
    overflow: none;
    scroll-snap-align: start;
    margin-bottom: var(--padding-small);
  }
 
.hsn-card:last-child {
    margin-right: var(--padding-full);
  }

.hsn-card img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    max-height: 50vh;
    overflow: none;
    z-index: -1;
}

.newscard {
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 37.5vh;
    min-height: 200px;
    min-width: 150px;
    max-width: 80vw;
    max-height: 50vh;
    overflow: none;
    position: relative;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
}
.lastnewscard {
    width: 18.75vh;
}
.badge {
    height: 48px;
    width: 48px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
.bubble {
    height: calc(4*var(--borderradius-small));
    border-radius: calc(2*var(--borderradius-small));
    width: fit-content;
    font-size: var(--font-size-button);
    padding-left: calc(var(--borderradius-small));
    padding-right: calc(var(--borderradius-small));
}

.newscard .badge {
    position: absolute;
    right: var(--padding-small);
    top: var(--padding-small);
}

.lastnewscard .badge {
position: relative;
padding: 0;
margin: 0;
text-align: center;
}

.center-text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.newscard .newsdate {
    font-size: var(--font-size-nav);
    padding-top: var(--padding-small);
    padding-left: var(--padding-small);
    font-weight: 300;
}
.newscard .newstitle {
    font-size: var(--H3-size-large);
    padding-top: var(--padding-small-half);
    padding-left: var(--padding-small);
    font-weight: 500;
    margin-right: var(--padding-full);
} 

.newscard .newstitle a {
    text-decoration: none;
}
.newscard .newstags {
    text-transform: uppercase;
    padding-left: var(--padding-small);
    padding-top: var(--padding-small-half);
    font-size: var(--font-size-button);
    font-weight: 600;

}
.newscard .newstags a {
    text-decoration: none;
    opacity: .5;
}
.newscard .newstags a:hover {
    text-decoration: none;
    opacity: .8;
}

.newscard img {
    height: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .hsn-card {
        max-width: 80vw;
        max-height: 100vh;
        scroll-snap-align: center;
    }
    .hsn-card img {
        max-width: 70vw;
        max-height: 100vh;
        overflow: none;
        z-index: -1;
    }
}

.footerheading::after {
    content: '';
    display: block;
    width: 100%;
    box-shadow: 0px 1px 0px 0px var(--bkg-color-highlight);
}

.footerlink {
    text-decoration: none;
    font-size: var(--H4-size-large);
}

.scrollcontainer {
    overflow-x: none;
}

.scrollsection {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-x: none; /* für Ausblenden der Leiste*/
    /* overflow-x: auto; */
}
.scrollsection:hover {
    overflow-x: scroll;
}

.scrollsection::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scrollsection::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: var(--cta-color);
}
.scrollsection::-webkit-scrollbar-thumb:hover {
    background: var(--cta-color-light);
}
.scrollsection::-webkit-scrollbar-thumb:active {
    background: var(--cta-color-dark);
}

/* Tabs */
  .tabheading {
    padding-bottom: var(--padding-small-half);
    /* box-shadow: 0px 1px 0px 0px var(--color-neutral); */
  }
  /* .tab:hover .tabheading {
     box-shadow: 0px 1px 0px 0px var(--text-color); 
  }*/
  .tabinfo {
      opacity: 0.66;
  }
  .tabnumber {
      background-color: none;
      font-size: 300px;
      font-weight: 400;
      color:rgb(0, 0, 0, 0.1);
      position: absolute;
      bottom: -150px;
      left: -80px;
  }
  .tabbuttonright {
    position: absolute;
    bottom: var(--padding-small);
    right: var(--padding-small);
  }

  .flex-tabs .tab {
    padding-left: var(--padding-full);
    padding-right: var(--padding-full);
}

.worko-tabs .flex-tabs .tab {
    flex: 1;
  }

  .worko-tabs .state {
    position: absolute;
    left: -9999px; /* digga übertreib */
  }
  .worko-tabs .flex-tabs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .worko-tabs .flex-tabs .panel {
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
    position: relative;
    overflow: hidden;
  }
  .worko-tabs .tab {
    display: inline-block;
    vertical-align: top;
    color: var(--color-neutral);
    padding-right: var(--padding-small);
    padding-bottom: var(--padding-small);
    cursor: hand;
    cursor: pointer;
    border-radius: var(--borderradius-mid);
    text-align: left;
  }
  .worko-tabs .tab:hover {
    color: var(--text-color);
  }
  
  #tab-one:checked ~ .tabs #tab-one-label,
  #tab-two:checked ~ .tabs #tab-two-label,
  #tab-three:checked ~ .tabs #tab-three-label,
  #tab-four:checked ~ .tabs #tab-four-label {
    cursor: default;
    color: var(--text-color);
    cursor: hand;
    cursor: pointer;
  }
  
  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel {
    display: block;
  }
  
  @media (max-width: 768px) {
    .hero-pretext {
        padding-bottom: var(--padding-small);
    }

    .worko-tabs .tab {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
      }
    
    .tabheading {
      padding-bottom: var(--padding-small-half);
      box-shadow: none;
    }

    .tab:hover .tabheading {
    box-shadow: none;
    }

    .flex-tabs {
      flex-direction: column;
    }

    .flex-tabs .tab::after {
        content: '';
        display: block;
        width: 100%;
        box-shadow: 0px 10px 0px 0.5px var(--bkg-color-highlight);
    }

    .flex-tabs .tab:last-of-type::after {
        box-shadow: none;
    }

    .flex-tabs #tab-one-label {
      order: 1;
    }
    .flex-tabs #tab-two-label {
      order: 3;
    }
    .flex-tabs #tab-three-label {
      order: 5;
    }
    .flex-tabs #tab-four-label {
      order: 7;
    }
    .flex-tabs #tab-one-panel {
      order: 2;
    }
    .flex-tabs #tab-two-panel {
      order: 4;
    }
    .flex-tabs #tab-three-panel {
      order: 6;
    }
    .flex-tabs #tab-four-panel {
      order: 8;
    }
  
    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label {
      border-bottom: none;
    }
  
    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel,
    #tab-four:checked ~ .tabs #tab-four-panel {
      border-bottom: none; /* add border if Text only */
    }
}

.footerwrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--padding-full);
    padding-left: var(--padding-full);
    padding-right: var(--padding-full);
    padding-bottom: var(--padding-full);
}

@media (max-width: 768px) {
    .footerleft {
        order: 1;
    }
    .footermiddle {
        order: 3;
    }
    .footerright {
        order: 2;
    }
}

.footerleft {
    flex: 1 1 150px;
    justify-content: space-around;
    max-height: 50vh;
}

.lowerfooterleft {
    flex: 1 1 225px;
    justify-content: space-around;
    max-height: 50vh;
}

.footermiddle {
    flex: 1 1 300px;
    justify-content: space-around;
    max-height: 50vh;
}
.lowerfootermiddle {
    flex: 1 1 225px;
    max-height: 50vh;
    text-align: end;
}
.footerright {
    flex: 1 1 150px;
    justify-content: space-around;
    max-height: 50vh;
}
.lowerfooterright {
    align-items: flex-end;
    justify-content: space-around;
    flex: 1 1 150px;
    min-height: 44px;
    max-height: 50vh;
    min-width: 200px;
    overflow: visible;
    z-index: 99;
}

.lowerfooter-iconwrap {
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}

footer .badge {
    margin-left: var(--padding-small-half);
    cursor: hand;
    cursor: pointer;
    position: relative;
}
footer .badge:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.badge-text-correction {
    position: absolute;
    line-height: 1;
}
.badge-icon {
    width: var(--icon-size-badge);
    height: var(--icon-size-badge);
    font-weight: 600;
    font-size: var(--icon-size-badge);
    /* line-height: 1; */
    position: absolute;
    right: calc(var(--icon-size-badge)/2);
    text-align: center;
    
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
}

.footerlinktitle {
    padding-top: var(--padding-full);
    padding-bottom: var(--padding-small);
    font-size: var(--font-size-button);
    color: white;
    opacity: 70%;
}
.footerlinktitle-light {
    padding-bottom: var(--padding-small);
    font-size: var(--font-size-button);
    text-decoration: none;
    color: white;
    opacity: 100%;
}

.footertext {
    font-size: var(--H3-size-large);
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: var(--H3-weight);
    color: white;
    opacity: 100%;
}

.footermap {
    background-color: var(--alt-nav-color);
    min-height: var(--padding-full);
}

.cursorpointer {
    cursor: pointer;
}

.isinteractive {
    cursor: pointer;
}
.isinteractive:hover {
    opacity: 0.8;
}

/* hover transform  */

.hovertransform {
    -webkit-transition: all 0.2s cubic-bezier(.42, 0, .58, 1);
    transition: all 0.2s cubic-bezier(.42, 0, .58, 1);
}

  .hovertransform:hover {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, +5px) skew(0deg, 0deg);
    overflow: visible;
  }
  .hovertransform:active {
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, -10px) skew(0deg, 0deg);
    overflow: visible;
  }

  .wraphovertransform {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }


  /* Cardshadow */
.cardshadow  {
    overflow: visible;
    position: relative;        
  }

.cardshadow-left:before  {
  content:"";
  width:80%;
  max-width: 300px;
  height:8px;
  bottom: 20px;
  left: 13px;
  z-index: -20;
  position: absolute;
  box-shadow: -10px 10px 20px rgba(0,0,0,0.3);
  -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.cardshadow-right:after  {
  content:"";
  width: 80%;
  max-width: 300px;
  z-index: -20;
  height: 8px;
  bottom: 20px;
  right: 13px;
  position: absolute;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
  -moz-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(5deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

/* Parallax */


.parallaximage {
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
    overflow: hidden;
    align-content: center;
    display: grid;
    place-content: center;
    vertical-align: middle;
}

.no-overflow {
    overflow: hidden;
    z-index: 0;
}

.imagemiddle {
    display: table-cell;
    position: relative;
}

/* Footer Map */

.responsive-map{
    overflow: hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .responsive-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
    transition: 0.3s;
    }
    .responsive-map iframe:hover{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
        }

/* longform text */
.longform-container {
        display: grid;
        grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
        grid-column-gap: 32px;
}
.longform-container > * {
    grid-column: 2;
    line-height: calc(2px + 2ex + 2px);
  }

.full-bleed {
    grid-column: 1 / -1;
  }


/* --------- */
/* Accordeon */
/* --------- */


.accordeon *, *:after, *:before {
	box-sizing: border-box;
}

.accordeon *:focus {
	outline: none;
}

details .accordeon { /* the closed sections */
/* 	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid var(--bkg-color-highlight); */
    padding: var(--padding-small);
    padding-bottom: calc(var(--padding-small)*2);
    /* background-color: var(--bkg-color-highlight); */
}

.accordeon h3 {
    margin: 0;
}
/* details .accordeon > * + * {
	margin-top: 1.5em;
} */
/* 
details + details {
	margin-top: .5rem;
} */

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	padding: var(--padding-small);
    width: 100%;
	cursor: pointer;
	position: relative;
    font-weight: var(--text-weight);
    text-align: center;
	/* padding-left: calc(1.75rem + .75rem + .75rem); */
}

summary:after {     /* the icon */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	content: "+";
    font-size: var(--font-size-main);
	width: 1.75rem;
	height: 1.75rem;
	/* background-color: #fff; */
	color: var(--color-neutral);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary {
	background-color: var(--bkg-color-highlight);
}

details[open] summary:after {
	content: "×";
    /* transform: rotate(45deg); */
}

summary:hover {
	background-color: var(--bkg-color-highlight);
}


/* Lightbox */

/** LIGHTBOX MARKUP **/

.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: var(--padding-small);
    background-color: rgba(0,0,0,.8);
    /* Translucent background */
  }
 
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /* image contain or cover */
  .image-contain {
    object-fit: contain;
    object-position: center;
  }
  
  .image-cover {
    object-fit: cover;
    object-position: right top;
  }

  /* HR Shadow */
  .hrshadow hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(0,0,0,.08);
    position: relative;
    margin-bottom: var(--padding-full);
  }
  .hrshadow hr:before, .hrshadow hr:after {
    content: '';
    position: absolute;
    bottom:0px;
    height: 5em;
    width: 100%;
    background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
    z-index:0;
  }
  .hrshadow hr:after {
    top:0px;
    bottom:auto;
    height: 1.5em;
    background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
  }

.description {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    gap: var(--padding-full);
}
@media (max-width: 769px) {
    .description {
    flex-direction: column;
    }
}

.description-left {
    flex: 1;

}
.description-right {
    flex: 3;
    /* border: 1px solid red; */
}
.description-left-sub {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    gap: var(--padding-small);
    /* flex-wrap: wrap; */ /*needs fix with grouped boxes*/
}
@media (max-width: 769px) {
    .description-left-sub {
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    }
}

.description-left-sub-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    gap: var(--padding-small);
}
@media (max-width: 769px) {
    .description-left-sub-child {
    flex-direction: row;
    }
}

.description-left-sub-child-sub {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    
}

.description-left-element {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);;
}
.description-left-element::after {
    content:"";
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px 0px 0px 0.5px var(--text-color);
    opacity: 0.1;
}

@media (min-width: 769px) {
    .description-left-sub-child:last-child .description-left-element:last-of-type::after { /* if above x pixels */
        box-shadow: 0px 0px 0px 0px;
    }
}
.font-large {
    font-size: var(--font-size-main);
    font-weight: 400;
}

.flexcontainer-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
@media (max-width: 769px) {
    .flexcontainer-row {
        flex-direction: column;
    }
}
.flex {
    flex: 1;
}

.debug {
    border: 1px solid limegreen;
}

.gs-parallax-container {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gs-parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.upnext {
    position: relative;
    min-height: 33vh;
}

.upnext-element {
    position: absolute;
    overflow: hidden;
    display: flex;
    
}

.upnext-image {
    min-width: 33vw;
    max-height: 33vh;
    position: relative;
}
.upnext-image img {
    max-width: 33vw;
    max-height: 100%

}

.upnext-label {
    position: absolute;
    min-width: 50%;
    max-width: 25vw;
    min-height: 100%;
    top: 0px;
    background: linear-gradient(320deg, #34393470 0%, #25272492 100%);
}
@media (max-width: 769px) {
    .upnext-label {
        max-width: 100%;
    }
}
@media (min-width: 1280px) {
    .upnext-element {
        border-top-left-radius: var(--borderradius-mid);
        border-top-right-radius: var(--borderradius-mid);
        border-bottom-right-radius: var(--borderradius-mid);
        border-bottom-left-radius: var(--borderradius-mid);
    }
    .upnext-label .title {
        font-size: var(--H2-size-small);
    }

}
.upnext-label .title {
    margin-top: var(--padding-small);
    margin-bottom: var(--padding-small);
}
.upnext-label .bubble {
    margin-top: var(--padding-small);
    opacity: 50%;
}
.upnext-label .arrow {
    text-align: center;
    left: 50%;
    opacity: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    bottom: var(--padding-small);
    top: auto;
}

blockquote {
    background: #8080800d;
    border-top-left-radius: var(--borderradius-mid);
    border-top-right-radius: var(--borderradius-mid);
    border-bottom-right-radius: var(--borderradius-mid);
    border-bottom-left-radius: var(--borderradius-mid);
    margin: var(--padding-small);
    padding: var(--padding-small);
    position: relative;
    left: calc(-1* var(--padding-small))
}

.headhing-subtext.longform-container {
    opacity: 50%;
    font-weight: var(--text-weight-bold);
}
.author-container {
    position: relative;
    cursor: default;
    height: 20px;
    padding-bottom: var(--padding-full);
    font-weight: 400;
}

.author-info {
    display: inline-flex;
    position: absolute;
    left: 3px;
}
.date-info {
    display: inline-flex;
    position: absolute;
    right: -13px;
    padding-right: 0;
    margin-right: 0;
}

.author-info-text {
    font-size: var(--font-size-button);
    line-height: 100%;
}

.author-info-company {
    opacity: 50%;
}

.author-pic {
    height: var(--icon-size-badge);
    width: var(--icon-size-badge);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--bkg-color-highlight);
    margin-left: -5px;
}
.author-pic:first-of-type {
    margin-left: 3px;
}
.author-pic:hover {
    box-shadow: 0 0 0 3px var(--cta-color);
}

h3.tabheadinglight {
    font-size: var(--font-size-base);
}

.articlecontent h4 {
    font-size: var(--H3-size-small);
}
.pagecontent h5 {
    font-size: var(--H5-size-small);
}

.cursor-zoom-in {
    cursor: zoom-in;
}
.cursor-zoom-out {
    cursor: zoom-out;
}

.footnote {
    color: var(--cta-color);
    text-decoration: none;
}

a.footnote:before {   
    content: "[";
   }
   
a.footnote:after {
    content: "]";
}

.featureparent {
    display: flex;
    flex-direction: column;
}
@media (min-width: 769px) {
    .featureparent {
        flex-direction: row;
        gap: var(--padding-small);
    }
}

.featurechild {
    flex: 1 1 0px;
    justify-content: space-around;
    flex-grow: 1;      /* <-- Lets them grow equally */
    flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
}

.featureparent-inner {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-small);
}

.featurechild-inner {
    flex: 1 1 150px;
    justify-content: space-around;
    flex-grow: 1;      /* <-- Lets them grow equally */
    flex-shrink: 1;    /* <-- Lets them shrink equally. OPTIONAL as 1 is the default */
}
.feature-icon {
    width: min(15vw, 60px);
    padding-bottom: var(--padding-small);
    color: "#0041b9";
}

@media (max-width: 768px) {
    .feature-icon {
        width: min(15vw, 50px);
    }
}
.feature-description {
    opacity: 0.5;
}
.feature-text {
    padding: var(--padding-small);
}
.textdecoration-none {
    text-decoration: none;
}

/*-- Barba JS Transitions --*/
.transition {
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  cursor: progress;
}

.transition li {
  width: 100%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background: #fffffe;
}