<!-- Meta Tags-->

<meta name="publisher" content="Simon Kelch">
<meta name="copyright" content="Simon Kelch">
<meta name="page-topic" content="service">
<meta name="page-type" content="Homepage">
<!-- <meta name="robots" content="index,follow"> -->
    <!-- to index your page vs. "noindex"-->
    <!-- to follow links on page vs. "nofollow" -->
<!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
<!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
<!-- Favicon Stuff -->
<!-- Fallback of 32x32 favicon.ico in Root Folder -->
<link rel="icon" href="favicon/favicon.svg">
<link rel="mask-icon" href="favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
<link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
<link rel="manifest" href="favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->
