<!-- <script src="https://unpkg.com/@barba/core"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>  -->

<script src="/script/gsap.js"></script>
<script src="/script/scrolltrigger.js"></script>

<script src="/script/script.js"></script>
<script src="/script/animation.js"></script>
<script src="/script/vanilla-tilt.js"></script>
<script src="/script/notice.js"></script>

<!-- <script src="/script/barbaanimation.js"></script> -->

<!--
<script src="script/barba.js"></script>
<script src="script/gsap.js"></script>

<script src="script/script.js"></script>
<script src="script/animation.js"></script>
<script src="script/vanilla-tilt.js"></script>
<script src="script/notice.js"></script>
-->
