---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Coaching | SimonKelch.ᴅᴇ</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Meta Tags-->
        <meta name="author" content="Simon Kelch">
        <meta name="publisher" content="Simon Kelch">
        <meta name="copyright" content="Simon Kelch">
        <!-- <meta name="robots" content="index,follow"> -->
            <!-- to index your page vs. "noindex"-->
            <!-- to follow links on page vs. "nofollow" -->
        <!-- <meta http-equiv="cache-control" content="no-cache"/> to stop cache-ing - disable after development -->
        <!-- <meta http-equiv="expires" content="43200"/> --> <!-- to have chace expire in 12h (43200s) -->
        <meta name="description" content="This site was built for sharing content with my clients, colleagues, friends and others on the internet.">
        <meta name="keywords" content="Stichwort 1, Stichwort 2, Stichwort 3"/>
        <meta name="page-topic" content="service">
        <meta name="page-type" content="Homepage">
        <meta property="og:title" content="OG Title">
        <meta property="og:description" content="OG description">
        <meta property="og:image" content="../img/index/home.png">
        <meta property="og:url" content="simonkelch.de">
        <meta property="og:site_name" content="simonkelch.de">
        <meta name="twitter:card" content="../img/index/home.png">
        <meta name="twitter:image:alt" content="twitter image description">  
        <!-- <link rel="stylesheet" href="reset.css"> -->
        <link rel="stylesheet" href="../style/style.css">
        <!-- Favicon Stuff -->
            <!-- Fallback of 32x32 favicon.ico in Root Folder -->
            <link rel="icon" href="../favicon/favicon.svg">
            <link rel="mask-icon" href="../favicon/mask-icon.svg" color="#000000"> <!-- has to be made of single color on transparent background -->
            <link rel="apple-touch-icon" href="../favicon/apple-touch-icon.png"> <!-- in 180x180 px -->
            <link rel="manifest" href="../favicon/manifest.json"> <!-- for Android, Chrome & Lighthouse in 512x512 -->    
        <!-- Theme Colors -->
        <meta name="color-scheme" content="dark light">
        <meta name="theme-color" content="#202124" media="(prefers-color-scheme: light)">
        <meta name="theme-color" content="#205430" media="(prefers-color-scheme: dark)">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
    </head>
<body>
    <!-- Looking up some source code? I publish on github. -->
    {% include nav.html %}
    <!-- <div class="navplaceholder"></div> -->
    <div class="content">
        {% include notice.html %}

        <div class="ribbon gradient-turquoise">
            <div class="ribbonintro hasbackground isrounded-top">
                <div class="spacer"></div>
            </div>
        </div>

        <div id="heading-middle" class="gs_reveal section-normal center">
            <div class="spacer"></div>
            <div class="bubble hasbackground-light allcaps">
                <div class="center-text smallcapslabel ">One on One</div>
            </div>
            <h1 class="section-heading">Coaching</h1>

            <div class="headhing-subtext longform-container">
                <p>Consult a second opinion and have someone impartial
                    assess, review and advise on your goals
                    discuss and challenge your expectations
                    find clarify and be guided to grounded expectations</p>
            </div>
            <div class="spacer"></div>
        </div>

        <section id="features" class="content">
            <div class="section-normal featureparent fullpadding isrounded">
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding">  
                            <div class="isrounded gs_reveal center">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/0001a7682254e3fc55ce58cbb9d177865f5924ef752e27ee048aa7795c6e041f45bd16b0b7f0706b88e27508b5324885eea4d2a6bd874ea4e8b0260886caa4b6">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Psychological<br>Assessment</div>
                                    <div class="feature-description">uncover potential and strategically develop your strengths</div>
                                </div>
                            </div>
                        </div>
                        <div class="featurechild-inner fullpadding">  
                            <div class="isrounded gs_reveal center">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/83a2068e29364d681df38acd18eed19a10aa2061a5aeaf2a04ed928aa9573660c61b1961f4182442a2e8f6f80e756ec5c7c0d1d0dae7f3b39cfe6beadc83ce00">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Goal-Setting & Review</div>
                                    <div class="feature-description">build vision and strategy to a path worth pursuing</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featurechild">
                    <div class="featureparent-inner">
                        <div class="featurechild-inner fullpadding">  
                            <div class="isrounded gs_reveal center">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/fe39b45d84688f58cf9ded427c2a5873d8ce9b4ac349d95f95d5a60dcdbc2f9d05d779637d6302580eee9b854d842a13463ac0bfc04d2bebbaddbcbb7b11f434">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Gain Clarity</div>
                                    <div class="feature-description">unravel and restructure your inner workings</div>
                                </div>
                            </div>
                        </div>
                        <div class="featurechild-inner fullpadding">  
                            <div class="isrounded gs_reveal center">
                                <img class="feature-icon" src="https://kstatic.googleusercontent.com/files/615d5e71f8bb00287e61fb445c79f493505513a3fc1575e51b01d3b00fe42d39abf05750d00271a224f16dab4a18adefcc4d1a95f5e4c66d7b5055433d2360b8">
                                <div class="feature-text text-left">
                                    <div class="feature-title">Confident Descisions</div>
                                    <div class="feature-description">build on mental insight to make informed descisions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="video" class="section-normal fullpadding">
            <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="isrounded">
                <div class="cardshadow gs_reveal cardshadow-left cardshadow-right">
                    <video class="isrounded hasbackground-light" width="100%" height="auto" loop autoplay muted > <!-- loop controls preload="auto" poster="img/dog1.jpg"-->
                        <source src="https://media.istockphoto.com/videos/abstract-background-loopable-video-id1288523103" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </section>

        <div class="spacer"></div>
        <section class="longform-container text-left">
            <p>
                climb.
                Sometimes you feel right on track, but at times got so cought up in the goal you chose an ineffective path. What from the inside looks like progress may only mask treading in the wrong direction.
                Entrusting someone with informing about these choices is a tough call for many, but bears great potential.   
                
                In business goal-vision and 
                pride and prejudice
            </p>
            <div class="spacer"></div>
        </section>

        <section id="image-section" class="fullpaddingsection content">

            <div class="alignmiddle section-normal pancakeparent isrounded">
                <div class="pancakechild wraphovertransform center min25vh"> <!--alternate color babyblue -->
                    <br>
                    <h3 class="">For Business</h3>
                    <br>
                    <div class="gs_reveal fullpaddingsection text-left">Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset <a href="#" class="highlightlink">concludaturque</a> et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</div>
                    <a href="./index.html"><button class="button-light hovertransform">read more</button></a>
                    <br>
                </div>
                <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="pancakechild center min25vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center gs_reveal gs_reveal_fromRight">
                    <div class="center min50vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center no-overflow" style="position: relative">
                        <div class="no-overflow isrounded" style="position: relative">
                            <div class="alignvmiddle center">
                                <div class="rellax center">
                                    <img data-speed="auto" class="isrounded parallaximage" src="https://images.unsplash.com/photo-1644007497105-8d0ae9ec9754?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2384&q=80">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="spacer min10vh"></div>

            <div class="alignmiddle section-normal pancakeparent isrounded">
                <div data-tilt data-tilt-max="5" data-tilt-perspective="9000" data-tilt-glare data-tilt-max-glare="0.2" class="pancakechild center min25vh gradient-graphite isrounded cardshadow cardshadow-left cardshadow-right center gs_reveal gs_reveal_fromLeft">
                    <div class="no-overflow alignvmiddle isrounded">
                        <div class="center parallaxcontainer rellax" data-rellax-speed="-2" data-rellax-percentage="0.5"> <!-- rellax -->
                            <img class="isrounded parallaximage" src="https://images.unsplash.com/photo-1646061550931-74b78e83863c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80">
                        </div>
                    </div>
                </div>
                <div class="pancakechild center min25vh"> <!--alternate color babyblue -->
                    <br>
                    <h3 class="gs_reveal">For Health</h3>
                    <br>
                    <div class="fullpaddingsection text-left">Some text to enable scrolling. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset <a href="#" class="highlightlink">concludaturque</a> et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</div>
                    <button class="button-light">read more</button>
                    <br>
                </div>
            </div>

            <div class="spacer"></div>
        </section>

        <section id="description" class="description gs_reveal gs_reveal_nomove section-normal fullpadding">
            <div class="description-left">
                <div class="description-left-sub alignmiddle">
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">client</p>
                            <p class="text-left font-large">maia health</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">design</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                    </div>
                    <div class="description-left-sub-child">
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">development</p>
                            <p class="text-left font-large">Simon Kelch</p>
                        </div>
                        <div class="description-left-sub-child-sub description-left-element">
                            <p class="smallcapslabel text-left">technology</p>
                            <p class="text-left font-large">HTML5 / CSS / Vanilla JS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description-right font-large center text-left">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
        <div class="spacer"></div>
        </section>
    </div>
    {% include footer.html %}
    {% include script.html %}
</body>
</html>